.contenedor {
    position: fixed;
    top: 10px;
    right: 130px;
    display: flex;
    z-index: 30;
}

.semaforo {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin-left: 20px;
}

span{
    margin-left: 20px;
}

.amarillo {
    background-color: yellow;
}

.rojo {
    background-color: red;
}