<!-- Evento -->
<div class="mainDiv" style="max-height: 90vh;">
    <div class="mainCard">
      <h2>Contenido para el articulo</h2>
      <div ><!--class="artlet-container"-->
        <section class="example-section">
          <label class="example-margin bold">Tipo:&nbsp;&nbsp;</label>
          <mat-radio-group [(ngModel)]="type" (change)="changeRadio($event)" class="quarter-width-mr">
            <mat-radio-button class="example-margin" value="0">Parrafo</mat-radio-button>
            <mat-radio-button class="example-margin" value="1">Fracción</mat-radio-button>
          </mat-radio-group>
        </section>
        <!--<form *ngIf="type=='1'">
          <mat-form-field class="arlet-new-container" appearance="fill">
            <mat-label>Indicador</mat-label>
            <input type="text" matInput [formControl]="myControlMain" [matAutocomplete]="autoMain" (change)="handleEmptyMai($event)">
            <mat-autocomplete #autoMain="matAutocomplete" [displayWith]="displayMain" (optionSelected)="selectedMai($event)">
              <mat-option *ngFor="let option of filteredMaiOptions | async" [value]="option">
                {{option.main}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>-->
        <!-- Mayuscula -->
        <!--<form *ngIf="showMay">
          <mat-form-field class="arlet-new-container" appearance="fill">
            <mat-label>{{ optMay }}</mat-label>
            <input type="text" matInput [formControl]="myControlLetter" [matAutocomplete]="autoC" (change)="handleEmptyLet($event)">
            <mat-autocomplete #autoC="matAutocomplete" [displayWith]="displayLetter" (optionSelected)="selectedLet($event)">
              <mat-option *ngFor="let option of filteredLetOptions | async" [value]="option">
                {{option.lett}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>-->

        <!-- Minuscula -->
        <!--<form *ngIf="showMis">
          <mat-form-field class="arlet-new-container" appearance="fill">
            <mat-label>{{ optMis }}</mat-label>
            <input type="text" matInput [formControl]="myControlLetterMis" [matAutocomplete]="autoMis" (change)="handleEmptyLetMis($event)">
            <mat-autocomplete #autoMis="matAutocomplete" [displayWith]="displayLetterMis" (optionSelected)="selectedLetMis($event)">
              <mat-option *ngFor="let option of filteredLetMisOptions | async" [value]="option">
                {{option.lett}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>-->

        <!-- Numero -->
        <!--<form *ngIf="showNum">
          <mat-form-field class="arlet-new-container" appearance="fill">
            <mat-label>{{ optNum }}</mat-label>
            <input type="text" matInput [formControl]="myControlNumber" [matAutocomplete]="autoD" (change)="handleEmptyNum($event)">
            <mat-autocomplete #autoD="matAutocomplete" [displayWith]="displayNumber" (optionSelected)="selectedNum($event)">
              <mat-option *ngFor="let option of filteredNumOptions | async" [value]="option">
                {{option.num}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>-->

        <!-- Romano -->
        <!--<form *ngIf="showRom">
          <mat-form-field class="arlet-new-container" appearance="fill">
            <mat-label>{{ optRom }}</mat-label>
            <input type="text" matInput [formControl]="myControlNumberRom" [matAutocomplete]="autoRom" (change)="handleEmptyNumRom($event)">
            <mat-autocomplete #autoRom="matAutocomplete" [displayWith]="displayNumberRom" (optionSelected)="selectedNumRom($event)">
              <mat-option *ngFor="let option of filteredNumRomOptions | async" [value]="option">
                {{option.num}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>-->
      </div>
      <section class="example-section">
        <mat-form-field class="quarter-width-mr" appearance="fill" >
          <mat-label>Orden</mat-label>
          <input type="text" matInput [formControl]="myControlOrder" [matAutocomplete]="autoO" (change)="handleEmptyOrd($event)" required>
          <mat-autocomplete #autoO="matAutocomplete" [displayWith]="displayOrder" (optionSelected)="selectedOrd($event)">
            <mat-option *ngFor="let option of filteredOrdOptions | async" [value]="option">
              {{option.num}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="quarter-width-mr" appearance="fill" *ngIf="type=='1'">
          <mat-label>Indicador</mat-label>
          <input type="text" matInput [(ngModel)]="indicator" placeholder="I,II,III,A,B,C,a,b,c,1,2,3...">
        </mat-form-field>
        <mat-form-field class="quarter-width-mr" appearance="fill" *ngIf="type=='0'">
          <mat-label>Numero de Parrafo</mat-label>
          <input type="number" matInput [(ngModel)]="number" placeholder="1,2,3..." min="1" max="100">
        </mat-form-field>
        <mat-form-field class="quarter-width-mr" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput [(ngModel)]="name">
        </mat-form-field>
      </section>
      <!-- Editor Texto -->
      <div class="toolkit">
        <!--<angular-editor [(ngModel)]="htmlContentB" [config]="editorConfig" required></angular-editor>-->
      </div>
      <br>
      <!-- Botones -->
      <div class="buttonsContainer">
        <button mat-raised-button color="basic" (click)="showSearchComponent()">Relaciones</button>&nbsp;
      </div>
      <ng-container *ngIf="isShownComponent">
        <app-search-document (sendingArticles)="artReceived($event)" (closingPanel)="closePanel($event)"></app-search-document>
      </ng-container>
      <div class="buttonsContainer">
        <button mat-raised-button color="primary" [disabled]="checkValuesEvent()" (click)="addEvent()">Agregar</button>&nbsp;
        <button mat-raised-button color="basic" (click)="closeModal()">Cancelar</button>&nbsp;
      </div>
    </div>
</div>