<app-user-icon></app-user-icon>


<div [ngClass]="{'container':!firstShow}" ><!--*ngIf="firstShow; else responseTemplate"-->
  <h1 [ngClass]="{'title-big':firstShow,'title':!firstShow}">Búsqueda</h1>
  <div class="search-box">
    <div class="ng-autocomplete">
      <ng-autocomplete [(ngModel)]="input" [data]="data" [searchKeyword]="keyword"
        placeholder="Buscar en Escudo Fiscal" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" 
        (keyup.enter)="navigateToSearchResults()" (selected)="navigateToSearchResults()">
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.nombre"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>
</div>


<div class="accordions-container row"style="margin-top:15px" >
  <div class="accordion-container" style="overflow: auto; max-height: 90vh;" [ngClass]="{'col-md-8 col-lg-6 col-xxxl-6':article && !articleRel, 'col-md-12 col-lg-12 col-xxxl-12':!article && !articleRel, 'col-md-4 col-lg-4 col-xxxl-4':article && articleRel}">
      <div class="example-action-buttons">
          <!--<button mat-button (click)="accordion.openAll()">Abrir Todo</button>
          <button mat-button (click)="accordion.closeAll()">Cerrar Todo</button>-->
      </div>
      <!--<pre><code>{{data | json}}</code></pre>-->
      <mat-accordion class="example-headers-align" multi style="position: sticky; top:10vh">
          <mat-expansion-panel *ngFor="let cla of clasificaciones" ><!--style="overflow-y: auto; max-height: 80vh;"-->
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      <mat-icon>menu_book</mat-icon> &nbsp; {{cla.nombre}}
                  </mat-panel-title>
                  <!--<mat-panel-description>Type your name and age<mat-icon>account_circle</mat-icon></mat-panel-description>-->
              </mat-expansion-panel-header>
              <mat-accordion class="example-headers-align" multi>
                  <mat-expansion-panel *ngFor="let doc of cla.documentos">
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              <div class="row mt-2">
                                  <div class="col-12"><mat-icon>book</mat-icon> &nbsp; {{doc.titulo}}</div>
                              </div>
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div *ngIf="doc.titulos">
                          <mat-accordion class="example-headers-align" multi>
                              <mat-expansion-panel *ngFor="let tit of doc.titulos">
                                  <mat-expansion-panel-header>
                                      <mat-panel-title>TITULO {{tit.nombre}}</mat-panel-title>
                                      <mat-panel-description *ngIf="tit.articulos">Artículos del {{tit.articulos[0].articulo}} al {{tit.articulos[tit.articulos.length - 1].articulo}}</mat-panel-description>
                                  </mat-expansion-panel-header>
                                  <!--<div *ngIf="!tit.chapters">-->
                                  <div *ngIf="tit.articulos">
                                      <mat-accordion>
                                          <mat-expansion-panel *ngFor="let art of tit.articulos">
                                              <mat-expansion-panel-header>
                                                  <mat-panel-title (click)="articleClick(art,art.parrafos)">
                                                      <mat-icon>bookmark</mat-icon> &nbsp; Artículo {{art.articulo}} {{art.indicador || ''}}.- <div [innerHTML]="art.nombre"></div>
                                                  </mat-panel-title>
                                              </mat-expansion-panel-header>
                                              <div *ngIf="art.parrafos">
                                                  <mat-list role="list">
                                                      <mat-list-item role="listitem" [ngClass]="{'hide':par.tipo == 1}" *ngFor="let par of art.parrafos" (click)="articleClick(art,par)">
                                                        Parr. {{par.numero || ''}} - <div [innerHTML]="par.nombre"></div>
                                                      </mat-list-item>
                                                  </mat-list>
                                              </div>
                                          </mat-expansion-panel>
                                      </mat-accordion>
                                  </div>
                                  <div *ngIf="tit.capitulos">
                                      <mat-accordion class="example-headers-align" multi>
                                          <mat-expansion-panel *ngFor="let cha of tit.capitulos">
                                              <mat-expansion-panel-header>
                                                  <mat-panel-title>CAPITULO {{cha.nombre}}</mat-panel-title>
                                                  <!--<mat-panel-description *ngIf="cha.articulos">Artículos del {{cha.articulos[0].articulo}} al {{cha.articulos[cha.articles.length - 1].articulo}}</mat-panel-description>-->
                                              </mat-expansion-panel-header>
                                              <div *ngIf="cha.articulos">
                                                  <mat-accordion>
                                                      <mat-expansion-panel *ngFor="let art of cha.articulos">
                                                          <mat-expansion-panel-header>
                                                              <mat-panel-title (click)="articleClick(art)">
                                                                  <mat-icon>bookmark</mat-icon> &nbsp; Artículo {{art.articulo}} {{art.indicador || ''}}.- <div [innerHTML]="art.nombre"></div>
                                                              </mat-panel-title>
                                                          </mat-expansion-panel-header>
                                                          <div *ngIf="art.parrafos" class="parrafos">
                                                              <mat-list role="list" >
                                                                  <mat-list-item role="listitem" [ngClass]="{'hide':par.tipo == 1}" *ngFor="let par of art.parrafos" (click)="articleClick(art,par)">
                                                                      <span *ngIf="par.tipo == 0"><mat-icon>bookmark</mat-icon> &nbsp; Párr. {{par.numero || ''}} {{par.nombre || '--'}}</span>
                                                                  </mat-list-item>
                                                              </mat-list>
                                                          </div>
                                                      </mat-expansion-panel>
                                                  </mat-accordion>
                                              </div>
                                          </mat-expansion-panel>
                                      </mat-accordion>
                                  </div>
                              </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                      <div *ngIf="doc.capitulos">
                          <mat-accordion class="example-headers-align" multi>
                              <mat-expansion-panel *ngFor="let cha of doc.capitulos">
                                  <mat-expansion-panel-header>
                                      <mat-panel-title>CAPITULO {{cha.nombre}}</mat-panel-title>
                                      <mat-panel-description *ngIf="cha.articulos">Artículos del {{cha.articulos[0].articulo}} al {{cha.articulos[cha.articulos.length - 1].articulo}}</mat-panel-description>
                                  </mat-expansion-panel-header>
                                  <div *ngIf="cha.articulos">
                                      <mat-list role="list" >
                                          <mat-list-item role="listitem" *ngFor="let art of cha.articulos" (click)="articleClick(art)">
                                              <mat-icon>bookmark</mat-icon> &nbsp; Artículo {{art.articulo}} {{art.indicador || ''}}.- <div [innerHTML]="art.nombre"></div>
                                          </mat-list-item>
                                      </mat-list>
                                  </div>
                              </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                  </mat-expansion-panel>
              </mat-accordion>
          </mat-expansion-panel>
      </mat-accordion>
  </div>



  <div *ngIf="article" class="accordion-container" [ngClass]="{'col-md-4 col-lg-6 col-xxxl-6':article && !articleRel, 'col-md-4 col-lg-4 col-xxxl-4':article && articleRel}">
    <div class="example-action-buttons">
      <!--<button mat-button (click)="accordion.openAll()">Mostrar Todo</button>
      <button mat-button (click)="accordion.closeAll()">Esconder Todo</button>-->
    </div>
    <mat-accordion class="example-headers-align" style="position: sticky; top:10vh">
        <mat-expansion-panel [expanded]="true" style="overflow: auto; max-height: 90vh;">
            <mat-expansion-panel-header>
                <mat-panel-title class="flex-grow-1">
                    <mat-icon>auto_stories</mat-icon> &nbsp; Articulo {{article.articulo}} {{article.indicador || ''}}.-
                </mat-panel-title>
                <mat-panel-description *ngIf="!articleRel"><div [innerHTML]="article.nombre"></div></mat-panel-description>
            </mat-expansion-panel-header>
            <h5 *ngIf="articleRel"><div [innerHTML]="article.nombre"></div></h5>
            <div *ngFor="let par of article.parrafos" >
                <label [id]="'par-'+par.id" for="" class="nombre_parrafo"><span *ngIf="par.tipo == 0 && par.numero">Párr. {{par.numero || ''}} -</span> <div [innerHTML]="par.nombre"></div></label>
                <!--<p [innerHtml]="par.contenido || ''"></p>-->
                <div *ngIf="par.tipo == 1" class="fraccion">
                    <b>{{par.indicador}}</b>.&nbsp;<span [innerHtml]="par.contenido || ''"></span>
                </div>
                <p *ngIf="par.tipo == 0" [ngClass]="{'fraccion':par.tipo == 1}" [innerHtml]="par.contenido || ''" style="text-align: justify;"></p>

                <a [routerLink]="" (click)="addArticle(ar)" *ngFor="let ar of par.articulos_relacionados" class="ancla">{{ar.abreviatura || ''}}  Art.- {{ar.articulo || ''}} {{ar.indicador || ''}} - <div [innerHTML]="ar.nombre"></div></a>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>
<div *ngIf="articleRel" class="accordion-container col-md-4 col-lg-4 col-xxxl-4">
    <mat-accordion class="example-headers-align" style="position: sticky; top:10vh">
        <mat-expansion-panel [expanded]="true" style="overflow: auto; max-height: 90vh;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>auto_stories</mat-icon> &nbsp; Articulo {{articleRel.articulo}} {{articleRel.indicador || ''}}.-
                </mat-panel-title>
            </mat-expansion-panel-header>
            <h5 *ngIf="articleRel">{{articleRel.nombre || ''}}</h5>
            <div *ngFor="let par of articleRel.parrafos" >
                <label [id]="'par-'+par.id" for="" class="nombre_parrafo"><span *ngIf="par.tipo == 0 && par.numero">Párr. {{par.numero || ''}} -</span> <div [innerHTML]="par.nombre"></div></label>
                <div *ngIf="par.tipo == 1" class="fraccion">
                    <b>{{par.indicador}}</b>.&nbsp;<span [innerHtml]="par.contenido || ''"></span>
                </div>
                <p *ngIf="par.tipo == 0" [ngClass]="{'fraccion':par.tipo == 1}" [innerHtml]="par.contenido || ''" style="text-align: justify;"></p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>




<div *ngIf="clasificaciones.length == 0 && !firstShow">
    No hubo resultados
</div>




