.container{
  width: 100%;
  display: flex;
  margin: 20px;
  align-items: center;
}

.title{
  color: blue;
  padding-right: 10px;
}

.title-big{
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  margin-top: 250px;
  margin-bottom: 50px;
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ng-autocomplete{
  width: 650px;
}
