.clients-full-width {
    width: 41.2vw;
    margin-right: 10px;
}

.obligations-full-width {
    width: 41.2vw;
}

.flex-container {
    display: flex;
}

.category-full-width {
    width: 83vw;
}