<div>
    <div class="grid-container">
        <h4 mat-dialog-title>Cambiar contraseña</h4>
        <div class="grid-item">
            <mat-form-field>
                <input matInput [(ngModel)]="oldPassword" required placeholder="Vieja contraseña" [type]="oldPasswordFieldType">
            </mat-form-field>
            <mat-checkbox (change)="toggleOldPasswordVisibility()">Mostrar contraseña</mat-checkbox>
            <mat-error *ngIf="data.user.contra !== oldPassword && check">
                La contraseña no es igual.
            </mat-error>
        </div>
        <div class="grid-item">
            <mat-form-field>
                <input matInput [(ngModel)]="newPassword" required placeholder="Nueva contraseña" [type]="newPasswordFieldType">
            </mat-form-field>
            <mat-checkbox (change)="toggleNewPasswordVisibility()">Mostrar contraseña</mat-checkbox>
        </div>

        <mat-error *ngIf="faltanCampos" class="error-message">Por favor, complete todos los campos.</mat-error>

        <button mat-raised-button color="primary" (click)="changePassword()">Cambiar</button>
    </div>
</div>
