/*.course-header {
    &.Angular {
      background-color: #fc4b6c;
    }
  
    &.Web {
      background-color: #1e88e5;
    }
  
    &.Design {
      background-color: #26c6da;
    }
  
    &.Android {
      background-color: #ffb22b;
    }
  
    color: #fff;
  
    .mat-card-title {
      font-size: 15px !important;
      display: flex;
      align-items: center;
  
      .course-duration {
        margin-left: auto;
        display: flex;
        align-items: center;
      }
    }
  }
  
  .mat-card-actions {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    padding: 8px 0 !important;
  }*/
.example-tree-node {
  display: flex;
  flex-direction: column;
}

mark, .highlight{
  padding: 0px !important;
}

.tree-invisible {
  display: none;
  max-width: 200px; /* Ajusta este valor según sea necesario */
  overflow: hidden;
}

.tree-node{
  display: block;
}

.nombre_parrafo{
  width: 100%;
  text-align: end;
  font-weight: bold;
}

.fraccion{
  text-indent: 1.2em;
}

ul{
  list-style: none !important;
}

.hide{
  display: none !important;
}

.nombre_parrafo{
  color:#3366ff !important;
}

.fraccion{
  font-size: 0.9375rem;
  color:#222b45;
  line-height: 1.25rem;
  font-family: Open Sans, sans-serif;
  text-align: justify;
}

.ancla{
  color:#5881fd !important;
  cursor: pointer;
}