<h2 mat-dialog-title>Agregar nueva capacitación</h2>
<mat-dialog-content>
    <div class="grid-container">
        <div class="grid-item">
            <mat-form-field>
                <input matInput required placeholder="Titulo" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput required placeholder="Descripción" [(ngModel)]="description">
            </mat-form-field>
            <mat-form-field>
                <input matInput required placeholder="Tiempo Limite (en segundos) para completar el cuestionario" [(ngModel)]="length" (input)="validateNumberInput($event)">
            </mat-form-field>                    

            <mat-form-field>
                <mat-label>Duración del video</mat-label>
                <mat-select [(value)]="type">
                    <mat-option *ngFor="let option of types" [value]="option.value" >
                        {{option.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Obligación asociada</mat-label>
                <mat-select [(value)]="obligationId">
                    <mat-option *ngFor="let obligation of allObligations" [value]="obligation.id" >
                        {{obligation.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <!-- <button mat-button (click)="dialogRef.close()">Cancelar</button> -->
    <button mat-button color="primary" (click)="createCapacitation()">{{text}}</button>
</mat-dialog-actions>
