.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.input-full-width {
    width: 40.2vw;
    margin-right: 10px;
}

.search-field {
    margin-bottom: 16px;
    width: 100%;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .mat-row:hover {
    background-color: #f2f2f2;
  }
  
