<div class="container">
    <h4>{{data.cumplimiento.nombre}}</h4>
    <!--<h6>{{data.cumplimiento.descripcion}}</h6>-->
    <span class="leyenda">Clic para marcar como cumplido</span><br/>
    <button mat-raised-button color="#ffcc0c" style="background-color: #ffcc0c;" 
    (click)="changeStatus()" [disabled]="disabled">{{texto}}</button>

    
    <div *ngIf="data.cumplimiento.cumplimientos_obligacion.completado">
        <h6>¡Cumplimiento cumplido!</h6>
        <ul>
            <li>Fecha en que se cumplió: {{data.cumplimiento.cumplimientos_obligacion.fecha_cumplimiento | date}}</li>
        </ul>
        <div class="divisor"></div>
    </div>
    <!--
    <div>
        <ul>
            <li>Fecha de inicio del cumplimiento: {{data.cumplimiento.cumplimientos_obligacion.fecha_inicio_cumplimiento | date}}</li>
            <li>Fecha de inicio ideal del cumplimiento: {{data.cumplimiento.cumplimientos_obligacion.fecha_inicio_ideal | date}}</li>
            <li>Fecha de inicio ideal del cumplimiento: {{data.cumplimiento.cumplimientos_obligacion.fecha_inicio_ideal | date}}</li>
            <li>Fecha ideal de cumplimiento: {{data.cumplimiento.cumplimientos_obligacion.fecha_ideal | date}}</li>
            <li>Fecha máxima de cumplimiento: {{data.cumplimiento.cumplimientos_obligacion.fecha_maxima | date}}</li>
        </ul>
        Impuesto: <span *ngIf="data.cumplimiento.cumplimientos_obligacion.impuestos.impuesto_isr == 1"><strong>ISR</strong></span>
        <span *ngIf="data.cumplimiento.cumplimientos_obligacion.impuestos.impuesto_iva == 1"><strong>IVA</strong></span>
        <span *ngIf="data.cumplimiento.cumplimientos_obligacion.impuestos.impuesto_nomina == 1"><strong>Nómina</strong></span>
        <span *ngIf="data.cumplimiento.cumplimientos_obligacion.impuestos.impuesto_otro == 1"><strong>Otro</strong></span>
        <br/>
        Fundamento Legal:
        <ul>
            <li *ngFor="let fund of data.cumplimiento.cumplimientos_obligacion.fundamento_legal">Art. {{fund.art.articulo}} .- {{fund.art.nombre}}</li>
        </ul>
        <div class="divisor"></div>
    </div>
    <div>
        <h6>Envío de documentación de evidencia</h6>
        Documentación faltante:
        <ul>
            <li *ngFor="let doc of data.cumplimiento.documentos_evidencia.documentacion_faltante">{{doc}}</li>
        </ul>
    </div>
    -->

   
</div>