<div class="container">
    <div style="display: flex; flex-direction: row;">
        <h4>{{data.cumplimiento.obligations.nombre}}</h4>
    </div>
    
    <div *ngIf="showAccountant">
        <div *ngIf="data.cumplimiento.completado !== 3">
            <span class="leyenda">Clic para marcar como cumplido</span><br/>
            <button mat-raised-button color="#ffcc0c" style="background-color: #ffcc0c; cursor: pointer;" 
            (click)="changeStatusAccountant()" [disabled]="disabled">{{text_for_accountant}}</button>
            <br/><span class="leyenda" *ngIf="mostrarLeyenda"><strong>Precaución:</strong> al dar clic se marcará como cumplido un día en el <strong>pasado</strong></span>
        </div>
        <div *ngIf="data.cumplimiento.completado === 3">
            <h6>¡Cumplimiento totalmente realizado!</h6>
            <span>El supervisor ya dio el visto bueno a la evidencia del cumplimiento.</span>
            <ul>
                <li>Fecha en que se cumplió: {{data.cumplimiento.fecha_completado | date}}</li>
            </ul>
            <div class="divisor"></div>
        </div>
    </div>

    <div *ngIf="showSupervisor">

        <div *ngIf="data.cumplimiento.completado === 0">
            <span>El responsable todavía no termina esta obligación.</span>
        </div>

        <div *ngIf="data.cumplimiento.completado === 1">
            <span class="leyenda">Clic para comenzar con la validación</span><br/>
            <button mat-raised-button color="#ffcc0c" style="background-color: #ffcc0c; cursor: pointer;" 
            (click)="changeStatusSupervisor('WaitingValidationStatus')">Empezar a validar</button>
        </div>

        <div *ngIf="data.cumplimiento.completado === 2" class="button-container">
            <div>
                <span class="leyenda">Clic para rechazar la validación</span><br/>
                <button mat-raised-button color="#ffcc0c" style="background-color: #7a0606; cursor: pointer; color: white;" 
                (click)="changeStatusSupervisor('PendingStatus')">Rechazar</button>
            </div>
            
            <div>
                <span class="leyenda">Clic para marcar como validado</span><br/>
                <button mat-raised-button color="#ffcc0c" style="background-color: #08ad0d; cursor: pointer; color: white;" 
                (click)="changeStatusSupervisor('ValidatedStatus')">Validar</button>
            </div>
        </div>

        <div *ngIf="data.cumplimiento.completado === 3">
            <h6>¡Cumplimiento totalmente realizado!</h6>
            <span>El supervisor ya dio el visto bueno a la evidencia del cumplimiento.</span>
            <ul>
                <li>Fecha en que se cumplió: {{data.cumplimiento.fecha_completado | date}}</li>
            </ul>
            <div class="divisor"></div>
        </div>
    </div>
</div>