<div class="mainDiv">
    <mat-card class="mainCard">
        <mat-card-content>
            <!-- Buscador de Articulos -->
            <div class="article-search">
                <form class="artlet-form">
                    <mat-form-field class="artlet-full-width" appearance="fill">
                        <mat-label>Buscador de Capacitaciones</mat-label>
                        <input type="text" placeholder="Ingresa la busqueda" [(ngModel)]="searchInput" matInput [formControl]="myControlSearch">
                    </mat-form-field>
                </form>
                <button class="buttonSearch" mat-mini-fab color="primary" (click)="validateSearch()" [disabled]="isActiveSearch()"><mat-icon>search</mat-icon></button>
            </div>
            <div *ngIf="showSpinner">
                <mat-spinner></mat-spinner>
            </div>
            <mat-card *ngIf="showResults">
                <mat-card-content>
                    <label *ngIf="capacitacions.length == 0">Sin coincidencias</label>
                    <mat-selection-list #doc (selectionChange)="onChange(doc.selectedOptions.selected)">
                        <mat-list-option style="height: 200%;" *ngFor="let doc of optionsDocuments" [value]="doc">
                            <mat-label>Capacitación: {{ doc.titulo }}</mat-label>
                            <br>
                        </mat-list-option>
                    </mat-selection-list>
                    <br>
                    <p>Capacitaciones seleccionadas: {{doc.selectedOptions.selected.length}}</p>
                </mat-card-content>
            </mat-card>
            
        </mat-card-content>
        
    </mat-card>
</div>
<div class="spinner" *ngIf="showMainSpinner">
    <mat-spinner></mat-spinner>
</div>