.bubble-container {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    bottom: 60px;
    right: 30px;
    background-color: green;
    z-index: 30;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.chat-container {
    width: 450px;
    height: 490px;
    border-radius: 30px;
    position: absolute;
    bottom: 60px;
    right: 30px;
    z-index: 30;
    cursor: pointer;
}

.chat-section {
    flex: 0 0 75%; 
    background-color: rgb(228, 255, 234);
    width: 100%;
    height: 490px;   
    position: relative; /* Agregado */
}

.chat-contact-container {
display: flex;
color: white;
background-color: rgb(0, 181, 39);
height:  22%;
position: relative;
flex-direction: column;
padding-top: 4px;
padding-right: 16px;
padding-left: 16px;
}

.profile-receiving-div {
  text-align: end;
  display: flex;
  width: 100%;
  justify-content: end;
  padding-right: 10px;
  padding-top: 3px;
  
}

.user-receiving-div {
  font-weight: 600;
  text-align: end;
  display: flex;
  width: 100%;
  justify-content: end;
  padding-right: 10px;
  padding-top: 3px;
}

.profile-div {
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-top: 3px;
}

.user-div {
  font-weight: 600;
  display: flex;
  width: 100%;
  padding-top: 3px;
  padding-left: 10px;
  // border-bottom-width: 2px;
  // border-bottom-style: solid;
  // border-bottom-color: rgb(37, 127, 20);
}

.message-input-container {
display: flex; 
align-items: flex-end; 
justify-content: center; 
position: absolute; 
bottom: 0;
width: 100%;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 30px;
}

.message-input {
width: 90%;
height: 3em;
padding: 10px;
border-radius: 30px;
border: none;
}

.message-container {
max-height: 280px;
overflow: auto;
display: flex;
flex-direction: column;
}

.message-container span {
    text-align: end;
  }

  .message.sent-message {
    margin-left: auto;
    
  }

.message {
background: white;
max-width: 600px;
width: fit-content;
padding: 5px 10px;
border-radius: 10px;
margin: 10px; 
word-wrap: break-word; 
}

.sent-message {
  position: relative;
    background: rgb(209, 255, 204);
    max-width: 290px;
    width: fit-content;
    padding: 5px 55px 5px 10px;    
    border-radius: 10px;
    margin: 10px;
    word-wrap: break-word;
    align-self: flex-end; /* Alinea a la derecha */
    margin-left: auto; /* Empuja el elemento a la derecha */
}

.received-message {
  position: relative;
    background: white;
    max-width: 290px;
    width: fit-content;
    padding: 5px 55px 5px 10px;    
    border-radius: 10px;
    margin: 10px;
    word-wrap: break-word;
    align-self: flex-start; /* Alinea a la izquierda */
    margin-right: auto; /* Empuja el elemento a la izquierda */
}

.all-message {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fecha-nueva {
  margin:auto;
  background-color: rgba(152, 152, 152, 0.599);
  padding: 7px;
  border-radius: 20px;
  font-size: small;
  color: white;
}


.user-container{
padding: 20px;
background: white;
width: 100%;
color: black;
border-bottom: solid 1px gray;
}

.user-container:hover{
background: rgb(206, 206, 206);
cursor: pointer;
}

.sendButton{
    border: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 181, 39);
    width: 3em;
    height: 3em;
    border-radius: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
}


.fileButton{
    border: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 181, 39);
    width: 50px;
    height: 43px;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .message-date {
    color: rgb(97, 97, 97);
    font-size: xx-small;
    width: 100%;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  .yo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: end;
  }
