.no-shadow {
    box-shadow: none;
  }
  
  .file-input {
    display: none;
  }

  p {
    font-family: Lato;
  }
  
  .withoverflow {
     height : 100px;
     //overflow:scroll; 
  }

  .cal-event-title{
    font-size: x-small;
    color: black;
  }

  .cal-day-outside-month {
    color: #ccc; /* Cambiar a tu color gris claro deseado */
}

.indicador {
  min-height: 10px;
  min-width: 10px;
  max-height: 10px;
  max-width: 10px;
  border-radius: 20px;
  margin-right: 5px;
}

.indicador:hover {
  cursor: pointer;
}

.indicador-lento{
  animation: parpadeo 3s infinite;
}

.indicador-rapido{
  animation: parpadeo 0.3s infinite;
}

.rojo {
  background-color: red;
}

.yellow {
  background-color: #ffcc0c;
}

.green {
  background-color: green;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100% !important;
}

.indicador-container {
  display: flex;
  flex-direction: row;
  font-size: x-small;
  align-items: center;
}

@keyframes parpadeo {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

@keyframes parpadeo-rapido {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

.cal-date {
  position: absolute;
  right: 2px;
  top: 2px;
}

.cal-day-events {
  position: relative;
}

.rojos {
  background-color: rgb(255, 173, 173);
}

.amarillos {
  background-color: #ffeeb1;
}

.verdes {
  background-color: rgb(195, 255, 195);
}

.floating-button {
  position: fixed;
  display: flex;
  bottom: 10px;
  right: 10px;
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
  border-radius: 40px;
  background-color: #ffcc0c;
  align-items: center;
  justify-content: center;
}

.header{
  padding: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 10px;
  background-color: #ffcc0c;
  margin-bottom: 20px;
}