.no-shadow {
    box-shadow: none;
  }
  
  .file-input {
    display: none;
  }

  p {
    font-family: Lato;
  }
  
  .withoverflow {
     height : 100px;
     overflow:scroll; 
  }

  .cal-event-title{
    font-size: x-small;
    color: black;
  }

  .cal-day-outside-month {
    color: #ccc; /* Cambiar a tu color gris claro deseado */
}
