<app-notification></app-notification>
<app-user-icon></app-user-icon>
<div style="width: 100%; height: 1px; background-color: transparent;" #scrollCalendar></div>
<mat-card >
    <mat-card-content >
        <div class="d-flex align-items-center" >
            <h3 class="m-t-0">Calendario de obligaciones {{mes + ' ' + anio}}</h3>
            <div class="ml-auto">
                <button mat-raised-button color="#ffcc0c" style="background-color: #ffcc0c;" (click)="addEvent()">Agregar Obligación</button>
            </div>
        </div>
    </mat-card-content>
</mat-card> 
  
<mat-card>
    <mat-card-content (mouseenter)="showButton(2)">
      <mat-toolbar class="no-shadow" style="background-color:#ffcc0c;">
        <mat-toolbar-row>
            <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" style="margin-right: 50px;" (click)="monthPrevious()">
                <mat-icon>chevron_left</mat-icon><span>Anterior</span>
            </button>
            <span style="margin-right: 10px;">
                {{mesMostrar}}
            </span>
            <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="monthNext()">
                <span>Siguiente</span><mat-icon>chevron_right</mat-icon>
            </button>
            <div fxFlex>

            </div>
            
            
            <!-- ============================================================== -->
            <!-- Event View -->
            <!-- ============================================================== -->
            
            <div fxShow="false" fxShow.gt-xs >
                <button mat-button (click)="view = 'month'" [class.active]="view === 'month'">Mes</button>
                <button mat-button (click)="view = 'week'" [class.active]="view === 'week'">Semana</button>
                <button mat-button (click)="view = 'day'" [class.active]="view === 'day'">Dia</button>
            </div>
            <!-- ============================================================== -->
            <!-- Event month, week, day -->
            <!-- ============================================================== -->
            <div fxHide="false" fxHide.gt-xs>
                <button mat-icon-button (click)="view = 'month'" [class.active]="view === 'month'">
                    <mat-icon>view_module</mat-icon>
                </button>
                <button mat-icon-button (click)="view = 'week'" [class.active]="view === 'week'">
                    <mat-icon>view_week</mat-icon>
                </button>
                <button mat-icon-button (click)="view = 'day'" [class.active]="view === 'day'">
                    <mat-icon>view_day</mat-icon>
                </button>
            </div>
  
            <span fxFlex fxHide="false" fxHide.gt-xs></span>
            <!-- ============================================================== -->
            <!-- Event next prev -->
            <!-- ============================================================== -->
            
            <button mat-icon-button mwlCalendarToday [(viewDate)]="viewDate">
                <mat-icon>today</mat-icon>
            </button>
            
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- ============================================================== -->
        <!-- Event Calendar -->
        <!-- ============================================================== -->
        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [locale]="locale"
                [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
                [cellTemplate]="dayViewNormalContent"
                
                >
                <ng-template #dayViewNormalContent let-day="day" let-locale="locale">
                    <div class="cal-day-events" [ngClass]="{ 'cal-day-outside-month': day.date.getMonth() !== viewDate.getMonth() }">
                        <div class="cal-date">{{ day.date | date: 'd' }}</div>
                        <ng-container *ngIf="day.date.getMonth() === viewDate.getMonth()">
                        <div *ngIf="verifySpot(7,day.date) >= 1" class="indicador-container">
                            <div class="indicador rojo"></div><span>{{verifySpot(7,day.date)}} Vencidos</span>
                        </div>
                        <div *ngIf="verifySpot(1,day.date) >= 1" class="indicador-container">
                            <div class="indicador indicador-rapido rojo"></div><span>{{verifySpot(1,day.date)}} Muy urgente</span>
                        </div>
                        <div *ngIf="verifySpot(2,day.date) >= 1" class="indicador-container">
                            <div class="indicador indicador-lento rojo"></div><span>{{verifySpot(2,day.date)}} Venciendo</span>
                        </div>
                        <div *ngIf="verifySpot(3,day.date) >= 1" class="indicador-container">
                            <div class="indicador indicador-rapido yellow"></div><span>{{verifySpot(3,day.date)}} Recomendado</span>
                        </div>
                        <div *ngIf="verifySpot(4,day.date) >= 1" class="indicador-container">
                            <div class="indicador indicador-lento yellow"></div><span>{{verifySpot(4,day.date)}} Ideal</span>
                        </div>

                        <div *ngIf="verifySpot(5,day.date) >= 1" class="indicador-container">
                            <div class="indicador yellow"></div><span>{{verifySpot(5,day.date)}} En supervisión</span>
                        </div>
                        <div *ngIf="verifySpot(6,day.date) >= 1" class="indicador-container">
                            <div class="indicador green"></div><span>{{verifySpot(6,day.date)}} Realizado.</span>
                        </div>

                        </ng-container>
                    </div>
                </ng-template>                            
            </mwl-calendar-month-view>




            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [locale]="locale"
                [refresh]="refresh" (eventClicked)="handleEvent('', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>

            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [locale]="locale"
                [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
          
    </mat-card-content>
</mat-card>
  <!--
<mat-card>
    <mat-card-content>
        <div class="d-flex align-items-center">
            <h3 class="m-t-0">Obligaciones</h3>
            <div class="ml-auto">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Color primario</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de fin</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events">
                        <td class="p-r-10">
                            <mat-form-field>
                                <input matInput placeholder="Editar Título" name="title" [(ngModel)]="event.title" />
                            </mat-form-field>
                        </td>
                        <td class="p-r-10">
                            <mat-form-field>
                                <input matInput placeholder="Cambiar color" name="color" type="color"
                                    [(ngModel)]="event.color.primary"/>
                            </mat-form-field>
                        </td>
                        <td class="p-r-10">
                            <mat-form-field>
                                <input matInput [matDatepicker]="startDateDP" placeholder="Fecha de inicio"
                                    name="startDate" [(ngModel)]="event.start"/>
                                <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>
                                <mat-datepicker #startDateDP></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td class="p-r-10">
                            <mat-form-field>
                                <input matInput [matDatepicker]="endDateDP" placeholder="Fecha de fin"
                                    name="endDate" [(ngModel)]="event.end" />
                                <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>
                                <mat-datepicker #endDateDP></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td>
                            <button mat-raised-button color="warn" (click)="deleteEvent(event)">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>
-->
<mat-card >
    <div style="padding: 20px; min-height: 200px;" #scrollElement (mouseenter)="showButton(1)">
        <div *ngIf="exModalData !== null">
            <div class="header">
                <h3>Cumplimientos a realizar el día {{exModalData.date | date:'dd'}} de {{exModalData.date | date:'MMMM'}} del {{exModalData.date | date:'yyyy'}}</h3>
            </div>
            
            <div class="container rojos" style="display: flex; flex-direction: column; margin: 0px; border-radius: 10px; margin-top: 10px; margin-bottom: 5px; margin-bottom: 10px;">
                <div *ngFor="let cumplimiento of cumplimientos; let i = index" class="container rojos" style="display: flex; flex-direction: row;" >
                    <div class="indicador" style="margin-top: 7px;"
                    [ngStyle]="{'background-color': modalIsFechaMaxima(cumplimiento, exModalData.date)}"
                    [ngClass]="{'indicador-lento': modalIsIndicadorLento(cumplimiento, exModalData.date), 'indicador-rapido': modalIsIndicadorRapido(cumplimiento, exModalData.date)}"
                    *ngIf="modalIsRojorapido(cumplimiento, exModalData.date)"> 
                    </div>
                    <span *ngIf="modalIsRojorapido(cumplimiento, exModalData.date)" >
                        <strong (click)="overrideBackup(i)" (mouseenter)="startHoverTimer(i)" (mouseleave)="clearHoverTimer()">
                            {{cumplimiento.obligations.nombre}}
                        </strong>
                        {{cumplimiento.obligations.respaldo}}
                    </span>
                </div>
            
                <div *ngFor="let cumplimiento of cumplimientos; let i = index" class="container rojos" style="display: flex; flex-direction: row;" >
                    <div class="indicador" style="margin-top: 7px;"
                    [ngStyle]="{'background-color': modalIsFechaMaxima(cumplimiento, exModalData.date)}"
                    [ngClass]="{'indicador-lento': modalIsIndicadorLento(cumplimiento, exModalData.date), 'indicador-rapido': modalIsIndicadorRapido(cumplimiento, exModalData.date)}"
                    *ngIf="modalIsRojoLento(cumplimiento, exModalData.date)"> 
                    </div>
                    <span *ngIf="modalIsRojoLento(cumplimiento, exModalData.date)">
                        <strong (click)="overrideBackup(i)" (mouseenter)="startHoverTimer(i)" (mouseleave)="clearHoverTimer()">
                            {{cumplimiento.obligations.nombre}}
                        </strong>
                        {{cumplimiento.obligations.respaldo}}
                    </span>
                </div>
            </div>
            
            <div class="container amarillos" style="display: flex; flex-direction: column; margin: 0px; border-radius: 10px; margin-top: 10px; margin-bottom: 5px; margin-bottom: 10px;">
                <div *ngFor="let cumplimiento of cumplimientos; let i = index" class="container amarillos" style="display: flex; flex-direction: row;" >
                    <div class="indicador" style="margin-top: 7px;"
                    [ngStyle]="{'background-color': modalIsFechaMaxima(cumplimiento, exModalData.date)}"
                    [ngClass]="{'indicador-lento': modalIsIndicadorLento(cumplimiento, exModalData.date), 'indicador-rapido': modalIsIndicadorRapido(cumplimiento, exModalData.date)}"
                    *ngIf="modalIsAmarilloRapido(cumplimiento, exModalData.date)"> 
                    </div>
                    <span *ngIf="modalIsAmarilloRapido(cumplimiento, exModalData.date)">
                        <strong (click)="overrideBackup(i)" (mouseenter)="startHoverTimer(i)" (mouseleave)="clearHoverTimer()">
                            {{cumplimiento.obligations.nombre}}
                        </strong>
                        {{cumplimiento.obligations.respaldo}}
                    </span>
                </div>
            
                <div *ngFor="let cumplimiento of cumplimientos; let i = index" class="container amarillos" style="display: flex; flex-direction: row;" >
                    <div class="indicador" style="margin-top: 7px;"
                    [ngStyle]="{'background-color': modalIsFechaMaxima(cumplimiento, exModalData.date)}"
                    [ngClass]="{'indicador-lento': modalIsIndicadorLento(cumplimiento, exModalData.date), 'indicador-rapido': modalIsIndicadorRapido(cumplimiento, exModalData.date)}"
                    *ngIf="modalIsAmarilloLento(cumplimiento, exModalData.date)"> 
                    </div>
                    <span *ngIf="modalIsAmarilloLento(cumplimiento, exModalData.date)" >
                        <strong (click)="overrideBackup(i)" (mouseenter)="startHoverTimer(i)" (mouseleave)="clearHoverTimer()">
                            {{cumplimiento.obligations.nombre}}
                        </strong>
                        {{cumplimiento.obligations.respaldo}}
                    </span>
                </div>
            
                <div *ngFor="let cumplimiento of cumplimientos; let i = index" class="container amarillos" style="display: flex; flex-direction: row;" >
                    <div class="indicador"
                    style="background-color: #ffcc0c; margin-top: 7px;"
                    
                    *ngIf="modalIsAmarilloFijo(cumplimiento, exModalData.date)"> 
                    </div>
                    <span *ngIf="modalIsAmarilloFijo(cumplimiento, exModalData.date)">
                        <strong (click)="overrideBackup(i)" (mouseenter)="startHoverTimer(i)" (mouseleave)="clearHoverTimer()">
                            {{cumplimiento.obligations.nombre}}
                        </strong>
                        {{cumplimiento.obligations.respaldo}}
                    </span>
                </div>
            </div>        
            
            <div class="container verdes" style="display: flex; flex-direction: column; margin: 0px; border-radius: 10px; margin-top: 10px; margin-bottom: 5px; margin-bottom: 10px;">
                <div *ngFor="let cumplimiento of cumplimientos; let i = index" class="container verdes" style="display: flex; flex-direction: row;" >
                    <div class="indicador" style="margin-top: 7px;"
                    [ngStyle]="{'background-color': modalIsFechaMaxima(cumplimiento, exModalData.date)}"
                    [ngClass]="{'indicador-lento': modalIsIndicadorLento(cumplimiento, exModalData.date), 'indicador-rapido': modalIsIndicadorRapido(cumplimiento, exModalData.date)}"
                    *ngIf="modalIsVerde(cumplimiento, exModalData.date)"> 
                    </div>
                    <span *ngIf="modalIsVerde(cumplimiento, exModalData.date)">
                        <strong (click)="overrideBackup(i)" (mouseenter)="startHoverTimer(i)" (mouseleave)="clearHoverTimer()">
                            {{cumplimiento.obligations.nombre}}
                        </strong>
                        {{cumplimiento.obligations.respaldo}}
                    </span>
                </div>
            </div>
        </div>
        
    </div>
</mat-card>


<div (click)="scrollToTop()" class="floating-button" *ngIf="isTopOfPage"><mat-icon style="font-size: x-large;">keyboard_arrow_up</mat-icon></div>