<app-user-icon></app-user-icon>

<app-loader *ngIf="isLoading"></app-loader>


<div class="modal" [ngClass]="{'show': showModal}">
  <div class="modal-content">
    <!-- Contenido de tu modal -->
  </div>
</div>

<div *ngIf="srcVideo" id="divVideo" style="width: 100vw; height: 90vh">
  <button  (click)="scrollDown()" class="scroll" mat-button><mat-icon class="icono">expand_more</mat-icon></button>
  <span (click)="scrollDown()" class="scroll-text">Ver más</span>

  <!--RECUADRO DE REPETICIÓN-->
  <div class="repeat-button" #divElement [@scaleAnimation]="true">
    <mat-icon (click)="showRepeatMenu()" class="repeat-icon">replay</mat-icon>
<!--MODAL DE REPETICION-->

    <div class="repeat-menu" [ngClass]="{show: showRepeat}">
      <h5>Regresar:</h5>
      
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 10px; margin-left:20px;">
        <button mat-flat-button class="boton_feo" (click)="quince()">15 Segundos</button>
        <button mat-flat-button class="boton_feo" (click)="unMinuti()">1 Minuto</button>
        <button mat-flat-button class="boton_feo" (click)="desdeElPrincipio()">Desde el principio</button>
      </div>
    </div>  

  </div>  

  <video (error)="handleVideoError()" (loadedmetadata)="videoLoaded()" (ended)="videoEnded()" autoplay="autoplay" preload="auto" id="myVideo" #video style="width: 100%; height: auto;"><!--<source type="video/mp4">--></video>
</div>

<div class="news-container" style="color: white;" fxLayout="row wrap" [ngStyle]="{'bottom.vh': -45}">

  <div style="flex-direction: column;">
  <div class="barra-menus">
    
    
     
     
    <!--MODAL DE CONTINUAR VIENDO -->
    <div class="continue-watching"  *ngIf="showContinueWatching">
      <h5>Continuamos con {{nextVideoTitle}} en:</h5>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="(countdown / 7) * 100"></div>
        <span style="position: absolute; padding: 20px; font-weight: 900; font-size: 26px;">{{ countdown }}</span>
      </div>
      <span style="display: flex; align-items: center; justify-content: center;">ó ir directamente a: </span>
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10px; flex-direction: row;">
        <button mat-flat-button style="width: 140px;" color="primary" (click)="goToManual()">Ir al Manual</button>
        <button mat-flat-button style="background: rgb(236, 212, 0); width: 140px;" (click)="goToCalendar()">Ir al Calendario</button>
      </div>
    </div>  
    
  </div>

<!--RECUADRO NEGRO CON LAS MINUATURAS DE LOS SIGUIENTES VIDEOS-->
  <div class="content" style="display: flex;">

    <div (click)="videoClicked(time)" *ngFor="let time of results;let indexTime=index;" style="width: 14.33%; height: auto; padding-right: 1%; padding-left: 1%; cursor: pointer;" >
      <div>
        <h6 style="text-align: center;">{{ time.nombre || '' }}</h6>
      </div>
      <img [src]="time.address_image" alt="" style="width: 100%; height: auto; aspect-ratio: 16 / 9;" [ngClass]="{'b-red':time.selected}">
    </div>

    <div (click)="scrollToManual()" style="width: 28.33%; height: 2%;  padding-right: 1%; padding-left: 1%; cursor: pointer;" >
      <div>
        <h6 style="text-align: center;">Manual completo de uso del Escudo Fiscal</h6>
      </div>
      <img src="https://concepto.de/wp-content/uploads/2023/01/manual-texto-documento.jpg" alt="" style="width: 100%; height: 108px; object-fit: cover;" >
    </div>
  </div>

</div>
  <!--
  <div #scrollElement fxFlex.gt-sm="25" *ngFor="let res of results" fxFlex="100" (click)="setSrcVideo(res)">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <img src="assets/images/logo-light-icon.png" class=" img-fluid img-circle" />
        </div>
        <mat-card-title>{{res.video.duracion/60 | number:'1.0-0'}} Minuto<span *ngIf="res.video.duracion != 60">s</span></mat-card-title>
        <mat-card-subtitle>{{res.autor}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="res.imagen" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>{{res.texto || ''}}</p>
        <mat-card-actions style="display: flex; align-items: center; justify-content: center;">
          <button style="background:rgb(45, 87, 202);" mat-raised-button color="accent"><mat-icon>play_arrow</mat-icon></button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
-->
<div #scrollElement fxFlex.gt-sm="25" *ngFor="let res of results" fxFlex="100" (click)="setSrcVideo(res)">
  <mat-card class="card-with-overlay">
    <div class="overlay-content">
      <div mat-card-avatar>
        <img src="assets/images/logo-light-icon.png" class="img-fluid img-circle" />
      </div>
      <mat-card-title>{{res.length}}</mat-card-title>
      <mat-card-subtitle style="color: rgba(255, 255, 255, 0.585);">autor</mat-card-subtitle>
      <mat-card-content>
        <p></p>
        <mat-card-actions style="display: flex; align-items: center; justify-content: center;">
          <button style="background:rgb(45, 87, 202);" mat-raised-button color="accent"><mat-icon>play_arrow</mat-icon></button>
        </mat-card-actions>
      </mat-card-content>
    </div>
    <img mat-card-image [src]="res.address_image" style="height: 35vh; object-fit: cover;" alt="Photo of a Shiba Inu" />
  </mat-card>
</div>


  

<mat-card class="card-with-overlay" style="width: 47.1vw;">
  <div class="overlay-content">
    <div mat-card-avatar>
      <img src="assets/images/logo-light-icon.png" class="img-fluid img-circle" />
    </div>
    <mat-card-title>Manual completo de uso</mat-card-title>
    <mat-card-subtitle style="color: rgba(255, 255, 255, 0.585);">del Escudo Fiscal</mat-card-subtitle>
    <mat-card-content>
      <p>Manual completo de uso del Escudo Físcal</p>
      <mat-card-actions style="display: flex; align-items: center; justify-content: center;" >
        <button (click)="scrollToManual()"style="background: rgb(45, 87, 202);" mat-raised-button color="accent"><mat-icon>arrow_downward</mat-icon></button>
      </mat-card-actions>
    </mat-card-content>
     </div>
     <img mat-card-image src="https://assets.ltkcontent.com/images/34823/user-manual_7abbbb2796.jpg" style="height: 35vh; object-fit: contain;" alt="Photo of a Shiba Inu" />
  </mat-card>
    <div #scrollElement2  class="manual-container">
      <div style="margin: 20px;  color: black;">
        <p style="display: flex; align-items: center; justify-content: center; font-weight: 700;">MANUAL COMPLETO DE USO DEL ESCUDO FISCAL</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, voluptates minima perspiciatis obcaecati iusto excepturi, illo 
          architecto porro at quis harum inventore animi quod 
          distinctio deleniti nulla doloremque repellat. Pariatur!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, vero omnis magnam
         perferendis eum fugiat soluta, inventore molestiae a maiores 
         quo accusamus fuga officia porro minima nihil voluptas. Totam, assumenda?</p>
  
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ea beatae dolorem aspernatur dolore? Est, nobis molestias,
           facere vero laudantium, aperiam aspernatur dolorem qui omnis nemo commodi numquam. Iure, maiores?
           i nulla doloremque repellat. Pariatur!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, vero omnis magnam
            perferendis eum fugiat soluta, inventore molestiae a maiores 
            quo accusamus fuga officia porro minima nihil voluptas. Totam, assumend
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro laudantium at aliquid suscipit voluptatem quia, hic cum 
          assumenda adipisci provident sit quasi eum commodi veniam minima consequatur architecto, quibusdam animi.</p>
        <p>Soy un manual</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ea beatae dolorem aspernatur dolore? Est, nobis molestias,
          facere vero laudantium, aperiam aspernatur dolorem qui omnis nemo commodi numquam. Iure, maiores?
          i nulla doloremque repellat. Pariatur!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, vero omnis magnam
           perferendis eum fugiat soluta, inventore molestiae a maiores</p>

          <div style="display: flex; align-items: center; justify-content: center;">
            <video width="640" height="360" controls>
              <source src="https://www.youtube.com/watch?v=LXb3EKWsInQ" type="video/mp4">
              Tu navegador no admite la reproducción de video.
            </video>
          </div>
          <button mat-flat-button color="primary" style="margin: 10px; float: right;"> Siguiente </button>
      </div>
    </div>
</div>

