<app-user-icon></app-user-icon>

<div *ngIf="srcVideo" id="divVideo" style="width: 100vw; height: 90vh">
  <button  (click)="scrollDown()" class="scroll" mat-button><mat-icon class="icono">expand_more</mat-icon></button>
  <span (click)="scrollDown()" class="scroll-text">Ver más</span>
  <video (error)="handleVideoError()" (loadedmetadata)="videoLoaded()" autoplay="autoplay" preload="auto" id="myVideo" #video style="width: 100%; height: auto;"><!--<source type="video/mp4">--></video>
</div>

<div class="news-container" fxLayout="row wrap">

  <div class="content" style="display: flex;">
    <div (click)="setSrcVideo(time)" *ngFor="let time of results;let indexTime=index;" style="width: 18.33%; height: auto; padding-right: 1%; padding-left: 1%; cursor: pointer;" >
      <div>
        <h6 style="text-align: center;">{{ time.titulo || '' }}</h6>
      </div>
      <img [src]="time.imagen" alt="" style="width: 100%; height: auto;" [ngClass]="{'b-red':time.selected}">
    </div>
  </div>

  <div #scrollElement fxFlex.gt-sm="25" *ngFor="let res of results" fxFlex="100" (click)="setSrcVideo(res)">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <img src="assets/images/logo-light-icon.png" class="img-fluid img-circle" />
        </div>
        <mat-card-title>{{res.video.duracion/60 | number:'1.0-0'}} Minuto<span *ngIf="res.video.duracion != 60">s</span> </mat-card-title>
        <mat-card-subtitle>{{res.autor}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="res.imagen" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>{{res.texto || ''}}</p>
        <mat-card-actions style="display: flex; align-items: center; justify-content: center;" >
          <button style="background:rgb(45, 87, 202);"mat-raised-button color="accent"><mat-icon>play_arrow</mat-icon></button>
         <!-- <button mat-button><mat-icon>share</mat-icon></button>-->
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>