<div class="mainDiv" *ngIf="showMain">
    <mat-card class="mainCard">
        <a routerLink="/index" class="return"><mat-icon>arrow_back</mat-icon></a>
        <!--<p>{{ title }}</p>-->
        <!-- <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let cap of capacitations" [value]="cap" (click)="goToVideo(cap)">
                <p class="matListItemTitle">{{ cap.titulo }}</p>
                <p class="matListItemLine">{{ cap.descripcion }}</p>
            </mat-list-option>
        </mat-selection-list> -->
        <mat-list class="list-item" role="list">
            <mat-list-item *ngFor="let cap of capacitations; let i = index" [value]="cap">
                <div class="left" (click)="goToVideo(cap)" [ngClass]="{'level2': cap.nivel_2 || 0 > 0, 'level3': cap.nivel_3 || 0 > 0}">
                    <div class="matListItemTitle"> 
                        <span *ngIf="cap!.nivel_1 || 0 > 0">{{cap.nivel_1 || ''}}</span>
                        <span *ngIf="cap!.nivel_2 || 0 > 0">{{'.' + cap.nivel_2 || ''}}</span>
                        <span *ngIf="cap!.nivel_3 || 0 > 0">{{'.' + cap.nivel_3 || ''}}</span>
                        {{ cap.titulo }}
                    </div>
                    <div class="matListItemLine">&nbsp;&nbsp;{{ cap.descripcion }}</div>
                    <div class="matListItemLineSeconds" matLine>Duración: <b>{{ cap.duracion_video }} segundos</b></div>
                </div>
                <div class="right">
                    <button mat-raised-button color="accent" *ngIf="cap.resumen_video <= 0" (click)="goToVideo(cap,false)">
                        <mat-icon fontIcon="play_arrow"></mat-icon>
                        <small>Iniciar</small>
                    </button>
                    <button mat-raised-button color="accent" *ngIf="cap.resumen_video > 0" (click)="goToVideo(cap,true)">
                        <mat-icon fontIcon="replay"></mat-icon>
                        <small>Reiniciar</small>
                    </button>
                    <button mat-raised-button color="black" *ngIf="cap.resumen_video > 0" (click)="goToVideo(cap)">
                        <mat-icon fontIcon="live_tv"></mat-icon>
                        <small>Continuar</small>
                    </button>&nbsp;  
                    <div class="matListItemLineStatus" matLine>Estatus: <b>{{ cap.estatus_video }}</b></div>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>
<div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>