<h2 mat-dialog-title>Agregar Nuevo Usuario</h2>
<mat-dialog-content>
  <!-- Aquí colocarías los campos para agregar un nuevo usuario, por ejemplo: -->
  <mat-form-field>
    <input matInput placeholder="Nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Correo" >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Teléfono" >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary">Agregar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</mat-dialog-actions>
