<div class="mainDiv" *ngIf="showMain">
    <mat-card class="mainCard">
        <a routerLink="/index" class="return"><mat-icon>arrow_back</mat-icon></a>
        <p>{{ mainTitle }}</p>
        <mat-card-content>
            <form>
                <mat-form-field class="title-full-width" appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input type="text" matInput [formControl]="myControlTitle" [(ngModel)]="title" required>
                </mat-form-field>
            </form>
            <div class="flex-container">
                <form>
                    <mat-form-field class="classification-full-width" appearance="fill">
                      <mat-label>Clasificacion</mat-label>
                      <input type="text" matInput [formControl]="myControlClassifications" [matAutocomplete]="auto"> <!-- (change)="handleEmptyCla($event)" -->
                    </mat-form-field>
                    
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClassifications"> <!-- (optionSelected)="selectedCla($event)" -->
                        <mat-option *ngFor="let option of filteredClaOptions | async" [value]="selectedClassification">
                            <div (click)="selectedCla($event, option)">
                                <mat-checkbox [checked]="option.selected" (change)="toggleSelection(option)" (click)="$event.stopPropagation()">
                                    {{ option.nombre }}
                                </mat-checkbox>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </form>
                <form>
                    <mat-form-field class="year-full-width" appearance="fill">
                        <mat-label>Año</mat-label>
                        <input type="number" maxlength="4" min="{{minYear}}" max="{{maxYear}}" matInput [formControl]="myControlYear" [(ngModel)]="year" (ngModelChange)="onChangeYear($event)" required>
                    </mat-form-field>
                </form>
                <form>
                    <mat-form-field class="abbreviation-full-width" appearance="fill">
                        <mat-label>Abreviatura</mat-label>
                        <input type="text" matInput [formControl]="myControlAbbreviation" [(ngModel)]="abbreviation">
                    </mat-form-field>
                </form>
            </div>
            <div class="flex-container">
                <form>
                    <mat-form-field class="editorial-full-width" appearance="fill">
                        <mat-label>Editorial</mat-label>
                        <input type="text" matInput [formControl]="myControlEditorial" [(ngModel)]="editorial">
                    </mat-form-field>
                </form>
                <form>
                    <mat-form-field class="articles-full-width" appearance="fill">
                        <mat-label>Articulos</mat-label>
                        <input type="number" matInput [formControl]="myControlArticles" [(ngModel)]="articles" required>
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>

        <button mat-raised-button color="primary" [disabled]="checkValues()" (click)="saveDocument()">Guardar</button>
    </mat-card>
</div>

<div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>
