<mat-card>
    <mat-card-content>
        <h4>Cuestionario con id {{id}}</h4>
        <div class="container">
            
            <div class="pregunta" *ngFor="let preguntas of preguntas; let i = index">
                <h5>Pregunta {{i + 1}}</h5>
                <mat-form-field>
                    <input matInput required placeholder="Pregunta">
                </mat-form-field>
                <div class="answer-template" *ngFor="let respuesta of respuestas; let i = index">
                    <div class="input-container">
                        <div class="index"></div>
                        <mat-form-field style="width: 70%;">
                            <input matInput required placeholder="Respuesta {{ i + 1 }}" [(ngModel)]="respuestas[i]">
                        </mat-form-field>
                        <mat-checkbox class="checkbox"> ¿Es correcta?</mat-checkbox>
                        <button mat-icon-button class="add-answer" matTooltip="Agregar respuesta" (click)="agregarRespuesta()">
                            <mat-icon>playlist_add</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-dialog-actions class="botones">
                    <button mat-button >Borrar</button>
                    <button mat-button color="primary">Guardar</button>
                </mat-dialog-actions>
            </div>

            <button mat-icon-button class="add-question" matTooltip="Agregar respuesta" (click)="agregarPregunta()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>
