<app-user-icon></app-user-icon>

<div class="page-content" #tableContainer>

  <mat-toolbar-row style="background-color: #ffcc0c; width: 100%; position: fixed; z-index: 3; top: 30px;" >
    <div style=" margin-left: auto; margin-right: auto;">
      <button mat-icon-button mwlCalendarPreviousView class="button_month" (click)="monthPrevious()">
          <mat-icon>chevron_left</mat-icon><span>Anterior</span>
      </button>
      <span >
          {{mesMostrar}}
      </span>
      <button mat-icon-button mwlCalendarNextView class="button_month" (click)="monthNext()">
          <span>Siguiente</span><mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
<!--LA FUCKING TABLA DEL DIABLO-->
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 celdas" matSort style=" margin-top: 40px; height: 70%; width: 9900px; border-top-width: 5px;" >
    
    <ng-container matColumnDef="fixedColumn" class="container" sticky>
      <!--HEADER-->
      <mat-header-cell *matHeaderCellDef class="fixed-column" style="background-color: #ffcc0c; padding: 0px; flex: 1.2;">
        <div class="container" style="flex-direction: column;">
          <div class="celdas" style="height: 8.55vh; min-height: 80.37px; "></div>
          <div class="celdas" style="height: max-content; flex-direction: row; display: flex;">
            <div class="celdas" style="flex: 1;">Números</div>
            <div class="celdas" style="flex: 1;">Indicador</div>
          </div>
        </div>
      </mat-header-cell>
      <!--BODY-->
      <mat-cell *matCellDef="let row" class="fixed-column" style="background-color: #ffffff; height: 40vh ; padding: 0px; margin: 0px; flex: 1.2;">
        <div class="container">
          <div class="celdas internas" style="flex: 1;">{{row.content.id_cumplimiento}}</div>  
          <div class="celdas internas" style="flex: 1;">
            <div class="circle" [ngStyle]="{'background-color':row.content.color}"></div>
          </div>
        </div>
      </mat-cell>

    </ng-container>

    <ng-container matColumnDef="fixedColumn2" class="container" sticky>
      <!--HEADER-->
      <mat-header-cell *matHeaderCellDef class="fixed-column" style="background-color: #ffcc0c; padding: 0px; flex: 5.5;">
        <div class="container" style="flex-direction: column;">
          <div class="celdas" style="height: 4vh; min-height: 37.6px; overflow: scroll;">
            Las obligaciones se listan por <a (click)="reorderBy('id_cumplimiento')">General</a> / 
            <a (click)="reorderBy('fecha_ideal')">Fecha Ideal</a> / 
            <a (click)="getObligations(0, 'impuesto_isr')">ISR</a> / 
            <a (click)="getObligations(0, 'impuesto_iva')">IVA</a> / 
            <a (click)="getObligations(0, 'impuesto_nomina')">Nóminas</a> / 
            <a (click)="getObligations(0, 'impuesto_otro')">Otros</a> / 
          </div>
          <div style="display: flex; flex-direction: row;">
            <div style="flex: 2.8;">
              <div class="celdas" style="min-height: 35.77px; text-align: center; padding-top:4%;"><b>Cumplimiento {{d | date:'d-MMMM-y'}}</b></div>
              <div class="celdas" style="font-size: x-small;">Columnas que aplican en ol que sí ve el "Usuario Responsable de Cumplimiento Uno de la Empresa" </div>
            </div>
            <div style="flex: 1.2;">
              <div class="celdas" style="height: 4.55vh; min-height: 37.6px;; ">Descripción</div>
              <div class="celdas" style="height: max-content; flex-direction: row; display: flex;">
                <div class="celdas" style="flex: 0.5;">+</div>
                <div class="celdas" style="flex: 0.5; font-size: xx-small;">Actualizado al</div>
              </div>
            </div>
            <div style="flex: 1.2;">
              <div class="celdas" style="height: 4.55vh; min-height: 37.6px;; ">Tipo de impuesto</div>
              <div class="celdas" style="height: max-content; flex-direction: row; display: flex;">
                <div class="celdas" style="flex: 0.5;">ISR</div>
                <div class="celdas" style="flex: 0.5;">IVA</div>
                <div class="celdas" style="flex: 1;">Nóminas</div>
                <div class="celdas" style="flex: 0.5;">Otros</div>
              </div>
            </div>
          </div>
        </div>
      </mat-header-cell>
      <!--BODY-->
      <mat-cell *matCellDef="let row" class="fixed-column" style="background-color: #ffffff; height: 40vh ; padding: 0px; margin: 0px; flex: 5.5;">
      <div class="container">
        <div style="flex: 2.8;">
          <div class="celdas internas" style="flex: 1;">{{row.content.nombre}}</div>  
        </div>
        <div style="flex: 1.2; display: flex; flex-direction: row;">
          <div class="celdas internas" style="flex:0.5;">Contenido</div>
          <div class="celdas internas" style="flex:0.5;">Contenido</div>
        </div>
        <div style="flex: 1.2; display: flex; flex-direction: row;">
          <div class="celdas internas" style="flex: 0.5;">
            <mat-checkbox class="example-margin" (change)="updateISR($event, row)"[checked]= "row.content.ISR == 1"></mat-checkbox>
          </div>  
          <div class="celdas internas" style="flex: 0.5;">          
            <mat-checkbox class="example-margin" (change)="updateIVA($event, row)" [checked]= "row.content.IVA == 1"></mat-checkbox>
          </div>  
          <div class="celdas internas" style="flex: 1;">
            <mat-checkbox class="example-margin" (change)="updateNOM($event, row)" [checked]= "row.content.NOMINA == 1"></mat-checkbox>
          </div>  
          <div class="celdas internas" style="flex: 0.5;">
            <mat-checkbox class="example-margin" (change)="updateOTHER($event, row)" [checked]= "row.content.OTRO == 1"></mat-checkbox>
          </div>  
        </div> 
      </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fixedColumn3" class="container" sticky>
      <!--HEADER-->
      <mat-header-cell *matHeaderCellDef class="fixed-column" style="background-color: #ffcc0c; padding: 0px; flex: 1.3;">
        <div class="container" style="flex-direction: column;">
          <div class="celdas" style=" min-height: 86.61px;">¿Aplica el Punto?</div>
          <div class="celdas" style="flex-direction: row; display: flex;">
            <div class="celdas" style="flex: 0.5;">Si</div>
            <div class="celdas" style="flex: 0.5;">No</div>        
            <div class="celdas" style="flex: 1;">Prioridad</div>      
          </div>
        </div>
      </mat-header-cell>
      <!--BODY-->
      <mat-cell *matCellDef="let row" class="fixed-column" style="background-color: #ffffff; height: 40vh ; padding: 0px; margin: 0px; flex: 1.3;">
        <div class="container">
          <div class="celdas internas" style=" display: flex; flex: 1; align-items: center; justify-content: center;">
            <mat-slide-toggle [(ngModel)]="row.switch" 
            (change)="onSwitchChange(row)" 
            color="warn"   
            thumbColor="accent"
            trackColor="warn"
            [checked]="false">
            </mat-slide-toggle>
          </div>  
          <div class="celdas internas" style="flex: 1;">
            <button mat-button [matMenuTriggerFor]="menu">{{row.content.prioridad}} <mat-icon>keyboard_arrow_down</mat-icon> </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="modPrioridad(1, row)">Alta</button>
              <button mat-menu-item (click)="modPrioridad(2, row)">Media</button>
              <button mat-menu-item (click)="modPrioridad(3, row)">Baja</button>
            </mat-menu>
          </div> 
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fixedColumn4" class="container">
      <!--HEADER-->
      <mat-header-cell *matHeaderCellDef class="fixed-column" style="background-color: #ffcc0c; padding: 0px; flex: 16;">
        <div class="container" style="flex-direction: column; min-width: 100% !important; ">
          <div class="celdas" style=" min-height: 21.83px;">Cumplimiento de obligación</div>
          <div class="celdas" style="flex-direction: row; display: flex;">
            <div style="flex: 4; flex-direction: column; display: flex;">
              <div class="celdas" style="min-height: 20.2px;">Fundamento legal</div>
              <div class="celdas" style="display: flex; flex-direction: row;">
                <div class="celdas" style="flex: 1;">Periodo ideal cumplirlo</div>
                <div class="celdas" style="flex: 1;">Periodo recomendado para cumplirlo</div>
                <div class="celdas" style="flex: 1;">Vencimiento próximo, presentarlo ya</div>
                <div class="celdas" style="flex: 1;">Muy urgente, presentar de inmediato</div>
              </div>
            </div>
           
            <div  style="flex: 3; flex-direction: column; display: flex;">
              <div class="celdas" style="height: 3vh; min-height: 28.2px;">Fundamento legal</div>
              <div class="celdas" style="display: flex; flex-direction: row;">
                <div class="celdas" style="flex: 1; height: 53px;">Fecha máxima legal</div>
                <div class="celdas" style="flex: 1;">Ley y Articulo</div>
                <div class="celdas" style="flex: 1;">Actualizado al</div>
              </div>
            </div>  

            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas" style="min-height: 20.2px;">Se cumplió...</div>
              <div class="celdas" style="display: flex; flex-direction: row;">
                <div class="celdas" style="flex: 1; min-height: 59px;">¿En qué fecha?</div>
                <div class="celdas" style="flex: 1;">¿A tiempo, extemporal o aún no?</div>
              </div>        
            </div>
            <div  style="flex: 3; flex-direction: column; display: flex;">
              <div class="celdas" style="height: 3vh; min-height: 28.2px;">Alerta de lo ocurrido</div>
              <div class="celdas" style="display: flex; flex-direction: row;">
                <div class="celdas" style="flex: 1; height: 53px;">Cumplimiento completo</div>
                <div class="celdas" style="flex: 1; font-size: x-small;">El supervisor ya recibió la evidencia y la está evaluando</div>
                <div class="celdas" style="flex: 1;">Incumplimiento del supervisor</div>
              </div>
            </div>  

          </div>
        </div>
      </mat-header-cell>
      <!--BODY-->
      <mat-cell *matCellDef="let row" class="fixed-column" style="background-color: #ffffff; height: 40vh ; padding: 0px; margin: 0px; flex: 16;">
        <div class="container" style="min-width: 100%;">
          <div class="celdas internas" style="flex: 1;">
            
            <input matInput [matDatepicker]="picker" [value]="row.content.idel_date_start | date:'yyyy-MM-dd'" class="fecha_picker" (dateChange)="onDateSelected($event, 1, row.content.id_cumplimiento)">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker> / 

            <input matInput [matDatepicker]="picker2" [value]="row.content.idel_date_end | date:'yyyy-MM-dd'" class="fecha_picker" (dateChange)="onDateSelected($event, 2, row.content.id_cumplimiento)">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>

          </div>
          <div class="celdas internas" style="flex: 1;">

            <input matInput [matDatepicker]="picker3" [value]="row.content.recommended_date_start  | date:'yyyy-MM-dd'" class="fecha_picker" (dateChange)="onDateSelected($event, 3, row.content.id_cumplimiento)">
            <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker> / 

            <input matInput [matDatepicker]="picker4" [value]="row.content.recommended_date_end  | date:'yyyy-MM-dd'" class="fecha_picker" (dateChange)="onDateSelected($event, 4, row.content.id_cumplimiento)">
            <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>

          </div>
          <div class="celdas internas" style="flex: 1;">

            <input matInput [matDatepicker]="picker5" [value]="row.content.close_date_start  | date:'yyyy-MM-dd'" class="fecha_picker" (dateChange)="onDateSelected($event, 5, row.content.id_cumplimiento)">
            <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker> / 

            <input matInput [matDatepicker]="picker6" [value]="row.content.close_date_end  | date:'yyyy-MM-dd'" class="fecha_picker" (dateChange)="onDateSelected($event, 6, row.content.id_cumplimiento)">
            <mat-datepicker-toggle matIconSuffix [for]="picker6"></mat-datepicker-toggle>
            <mat-datepicker #picker6></mat-datepicker>

          </div>  
          <div class="celdas internas" style="flex: 1;">

            <input matInput [matDatepicker]="picker7" [value]="row.content.urgent_date_start | date:'yyyy-MM-dd'" class="fecha_picker" (dateChange)="onDateSelected($event, 7, row.content.id_cumplimiento)">
            <mat-datepicker-toggle matIconSuffix [for]="picker7"></mat-datepicker-toggle>
            <mat-datepicker #picker7></mat-datepicker> / 

            <input matInput [matDatepicker]="picker8" [value]="row.content.urgent_date_end | date:'yyyy-MM-dd'" class="fecha_picker" (dateChange)="onDateSelected($event, 8, row.content.id_cumplimiento)">
            <mat-datepicker-toggle matIconSuffix [for]="picker8"></mat-datepicker-toggle>
            <mat-datepicker #picker8></mat-datepicker>
          </div>  
          <div class="celdas internas" style="flex: 1;">contenido</div>  
          <div class="celdas internas" style="flex: 1;">
            <button (click)="openArticleFund(row)" mat-fab color="primary" class="custom-fab">
              <mat-icon style="font-size:22px;">bookmark</mat-icon>
            </button>
            <div *ngFor="let fundamento of row.content.fundamento_legal">
              <a (click)="articleClicked(fundamento)">Artículo {{fundamento.art.articulo}} </a><br/>
            </div>
          </div>  
          <div class="celdas internas" style="flex: 1;">
            <!-- <p *ngFor="let fundamento of row.content.fundamento_legal">{{fundamento.fecha | date:'d-MMM-y'}}</p> -->
            contenido
          </div>  
          <!-- <div class="celdas internas" style="flex: 1;">{{row.content.fecha_cumplio | date:'d-MMM-y'}}</div>  
          <div class="celdas internas" style="flex: 1;">{{row.content.se_cumplio}}</div>   -->
          <div class="celdas internas" style="flex: 1;">contenido</div>  <!--BORRAR, PLACEHOLDER-->
          <div class="celdas internas" style="flex: 1;">contenido</div>  <!--BORRAR, PLACEHOLDER-->
          <div class="celdas internas" style="flex: 1;">contenido</div>  
          <div class="celdas internas" style="flex: 1;">contenido</div>  
          <div class="celdas internas" style="flex: 1;">contenido</div>  
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fixedColumn9" class="container">
      <!--HEADER-->
      <mat-header-cell *matHeaderCellDef class="fixed-column" style="background-color: #ffcc0c; padding: 0px; flex: 3;">
        <div class="container" style="flex-direction: column; min-width: 100% !important; ">
          <div class="celdas" style=" min-height: 21.83px;">Comunicación Cliente - supervisor GB</div>
          <div class="celdas" style="flex-direction: row; display: flex;">
            <div style="flex: 3; flex-direction: row; display: flex;">
              <div class="celdas" style="flex: 1; min-height: 85px;">Chat</div>
              <div class="celdas" style="flex: 1;">Teléfono</div>
              <div class="celdas" style="flex: 1;">Video</div>
            </div>
          </div>
        </div>
      </mat-header-cell>
      <!--BODY-->
      <mat-cell *matCellDef="let row" class="fixed-column" style="background-color: #ffffff; height: 40vh ; padding: 0px; margin: 0px; flex: 3;">
        <div class="container" style="flex-direction: row;"> 
          <div class="celdas internas" style="flex: 1;">Contenido</div>
          <div class="celdas internas" style="flex: 1;">Contenido</div>
          <div class="celdas internas" style="flex: 1;">contenido</div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fixedColumn5" class="container">
      <!--HEADER-->
      <mat-header-cell *matHeaderCellDef class="fixed-column" style="background-color: #ffcc0c; padding: 0px; flex: 3;">
        <div class="container" style="flex-direction: column;">
          <div class="celdas" style="height: 3.75vh; min-height: 40.55px;">Envío de Documentación de Evidencia</div>
          <div class="celdas" style="flex-direction: row; display: flex; width: 100%;">
            <div class="celdas" style="flex: 2; min-height: 67px;" 
            matTooltip="Documentación que debe enviarse (declaraciones, pagos (acuse de Recibo Electrónico con Sello Digital); Concilliación fiscal, Conciliación Sat(isr, iva, retenciones) vs contabilidad vs bancos vs ISRvsIVA vs Visor del Sat nóminas vs declarado, vs Diot, Opinión de cumplimiento del Sat, ydel Imss, Cálculo del Ajuste inflacionario, Repse Imss e Infonavit; Actas, Hojas de trabajo (Pérdidas fiscales, Integración de saldos a favor, Cuca, Cufin, Ptu, Baja de A/F), Estados financieros, Declaraciones complementarias ypago ydiot; Declaración ypago estatal; Poderes Contratos, Entregables, Vigencia claves, Captura de pantalla del buzón medios de contacto, correo registrado y llamada a teléfono registrado, Fotos domicilio fiscal, etc); Requerimientos del Sat; El Sistema recibe word, excel, pdf, foto, etc."
            >Documentación que debe enviarse</div>
            <div class="celdas" style="flex: 1;">Fecha ideal para enviarla</div>
            <div class="celdas" style="flex: 1; font-size: smaller;">Fecha máxima para enviarla</div>
          </div>
        </div>
      </mat-header-cell>
      <!--BODY-->
      <mat-cell *matCellDef="let row" class="fixed-column" style="background-color: #ffffff; height: 40vh ; padding: 0px; margin: 0px; flex: 3;">
        <div class="container" style="flex-direction: row;">
          <div class="celdas internas" style="flex: 2;">
            <!-- <span *ngFor="let doc of row.content.documentos_faltantes">{{doc}} <br/></span> -->
            Contenido
          </div>  
          <div class="celdas internas" style="flex: 1;">Contenido</div>
          <div class="celdas internas" style="flex: 1;">Contenido</div>
        </div>
      </mat-cell>
    </ng-container>





    <!-- <ng-container matColumnDef="fixedColumn6" class="container">
      <mat-header-cell *matHeaderCellDef class="fixed-column" style="background-color: #ffcc0c; padding: 0px; flex: 7;">
        <div class="container" style="flex-direction: column;">
          <div class="celdas" style="height: 3.75vh; min-height: 40.55px;">Recordatorios / Alertas x incumplimiento / Reportes a semáforo</div>
          <div class="celdas" style="flex-direction: row; display: flex; width: 100%;">
            <div class="celdas" style="flex: 1;">Prioridad</div>
            <div class="celdas" style="flex: 4;">Recordatorios previos al cumplimiento</div>
            <div class="celdas" style="flex: 2;">Alertas posteriores</div>
          </div>
          <div class="celdas" style="flex-direction: row; display: flex; width: 100%;">
            <div class="celdas" style="flex: 1;">Nivel</div>
            <div class="celdas" style="flex: 1;">Recordatorio 1</div>
            <div class="celdas" style="flex: 1;">Recordatorio 2</div>
            <div class="celdas" style="flex: 1;">Recordatorio 3</div>
            <div class="celdas" style="flex: 1;">Recordatorio 4</div>
            <div class="celdas" style="flex: 1;">Por incumplimiento</div>
            <div class="celdas" style="flex: 1;">Reporte en 1 día vía semáforo</div>
          </div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="fixed-column" style="background-color: #ffffff; height: 40vh ; padding: 0px; margin: 0px; flex: 7;">
        <div class="container" style="flex-direction: row;">
          <div class="celdas internas" style="flex: 1;">{{row.content.nivel}}</div>  
          <div class="celdas internas" style="flex: 1;">{{row.content.recordatorios[0]?.mensaje}}</div>
          <div class="celdas internas" style="flex: 1;">{{row.content.recordatorios[1]?.mensaje}}</div>
          <div class="celdas internas" style="flex: 1;">{{row.content.recordatorios[2]?.mensaje}}</div>
          <div class="celdas internas" style="flex: 1;">{{row.content.recordatorios[4]?.mensaje}}</div>
          <div class="celdas internas" style="flex: 1;">{{row.content.alertas[0]?.mensaje}}</div>
          <div class="celdas internas" style="flex: 1;">{{row.content.reporte_via_semaforo[0]?.mensaje}}</div>
        </div>
      </mat-cell>
    </ng-container> -->





    <ng-container matColumnDef="fixedColumn7" class="container">
      <!--HEADER-->
      <mat-header-cell *matHeaderCellDef class="fixed-column" style="background-color: #ffcc0c; padding: 0px; flex: 55;">
        <div class="container" style="flex-direction: column;">
          <div class="celdas" style="height: 2.50vh; min-height: 23.5px;">Correlación con otros sectores del escudo fiscal</div>
          <div class="celdas" style="height: 2vh; min-height: 18.8px; display: flex; flex-direction: row;">
            <div class="celdas" style="flex: 5;">Correlación con inicio</div>
            <!-- <div class="celdas" style="flex: 2;">... con cumplimiento</div> -->
            <div class="celdas" style="flex: 18;">... con capacitación</div>
            <div class="celdas" style="flex: 6;">... con capacitación de grado académico</div>
            <div class="celdas" style="flex: 6;">... con control</div>
            <div class="celdas" style="flex: 7;">... con Usuarios y sus semáforos</div>
            <div class="celdas" style="flex: 3;">... con Pérdida o prescripción de</div>
            <div class="celdas" style="flex: 14;">... con Precaución</div>
          </div>
          
          <div class="celdas" style="flex-direction: row; display: flex; width: 100%;">
            <div class="celdas" style="flex: 1;">Incentivos</div>
            <div class="celdas" style="flex: 1;">Leyes</div>
            <div class="celdas" style="flex: 1;">Temario</div>        
            <div class="celdas" style="flex: 1;">Búsqueda</div>   
            <div class="celdas" style="flex: 1;">Números</div>   

            <!-- <div class="celdas" style="flex: 1;">Impuestos</div>      
            <div class="celdas" style="flex: 1;">Documentación</div>       -->

            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">Textos</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">Caso práctico</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">Preguntas frecuentes</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">1 minuto</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">5 minutos</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">15 minutos</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">30 minutos</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">60 minutos</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">Preguntas de examen</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>




            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">Diplomado</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">Especialidad</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">Maestría</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>



    
            <div class="celdas" style="flex: 2;">Ayuda</div>    
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">Dictamen</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div>      
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas">Semáforo</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div> 




            <div class="celdas" style="flex: 1; font-size: smaller;">1) Responsable del cumplimiento</div>
            <div class="celdas" style="flex: 1; font-size: smaller;">2) Responsable del cumplimiento</div>
            <div class="celdas" style="flex: 1; font-size: smaller;">3) Supervisor de cumplimiento de la empresa</div>
            <div class="celdas" style="flex: 1; font-size: smaller;">4) Supervisor de cumplimiento de GB</div>
            <div class="celdas" style="flex: 1; font-size: smaller;">5) Director de la empresa)</div>
            <div class="celdas" style="flex: 1; font-size: smaller;">6) Administrador de GB</div>
            <div class="celdas" style="flex: 1; font-size: smaller;">7) Super Administrador de GB</div>




            <div class="celdas" style="flex: 1;">Saldos a favor de ISR</div>    
            <div class="celdas" style="flex: 1;">Saldos a favor de IVA</div>    
            <div class="celdas" style="flex: 1;">Uso de pérdidas fiscales</div>    



            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas" style="font-size: smaller;">Protocolo de respuesta al sat</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div> 
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas" style="font-size: smaller;">Inconsistencias</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div> 
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas" style="font-size: smaller;">Multas y actualización</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div> 
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas" style="font-size: smaller;">Sanciones genéricas </div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div> 
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas" style="font-size: smaller;">Facultades, fiscalización y </div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div> 
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas" style="font-size: smaller;">Sanciones penales a empresa</div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div> 
            <div class="celdas" style="flex: 2; display: flex; flex-direction: column;">
              <div class="celdas" style="font-size: smaller;">Sanciones penales a persona </div>
              <div style="display: flex; flex-direction: row; height: 41px">
                <div class="celdas" style="font-size: x-small; flex: 1;">link</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Fundamento Legal</div>
                <div class="celdas" style="font-size: x-small; flex: 1;">Actualizado el</div>
              </div>
            </div> 

          </div>
        </div>
      </mat-header-cell>
      <!--BODY-->
      <mat-cell *matCellDef="let row" class="fixed-column" style="background-color: #ffffff; height: 40vh ; padding: 0px; margin: 0px; flex: 55;">
        <div class="container" style="flex-direction: row;">
          <div class="celdas internas" style="flex: 1;">Contenido</div>
          <div class="celdas internas" style="flex: 1; overflow: scroll;">
            <button (click)="openArticleRef(row)" mat-fab color="primary" class="custom-fab">
              <mat-icon style="font-size:22px;">bookmark</mat-icon>
            </button>        
            <br/>
            <a *ngFor="let a of row.content.leyes" (click)="articleClicked(a)" >
              <!-- <span *ngIf="!a.parrafos" matTooltip="{{a.nombre_documento}} / {{a.nombre}}">
                {{a.abreviatura}} / Art. {{a.articulo}} <br/>
              </span>
              <div *ngIf="a.parrafos">
                <span *ngFor="let p of a.parrafos" matTooltip="{{a.nombre}} / Párr. {{p.numero}} - {{p.nombre}}"> {{a.abreviatura}} / Art. {{a.articulo}} / Párr. {{p.numero}} <br/></span>
              </div> -->
              Contenido
            </a>
          </div>  
          <div class="celdas internas" style="flex: 1; overflow: scroll;">
            <button (click)="openTopicsRef(row)"  mat-fab color="primary" class="custom-fab">
              <mat-icon style="font-size:22px;">assignment</mat-icon>
            </button>
            <!-- <span *ngFor="let b of row.content.temario">{{b.nombre}}, </span> -->
            Contenido
          </div>  
          <div class="celdas internas" style="flex: 1;">Contenido</div>  
          <div class="celdas internas" style="flex: 1;">Contenido</div>  



          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  


          

          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div>  




          <div class="celdas internas" style="flex: 2;">contenido</div>  
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div> 
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div> 



          <div class="celdas internas" style="flex: 1;">contenido</div>  
          <div class="celdas internas" style="flex: 1;">contenido</div>  
          <div class="celdas internas" style="flex: 1;">contenido</div>  
          <div class="celdas internas" style="flex: 1;">contenido</div>  
          <div class="celdas internas" style="flex: 1;">contenido</div>  
          <div class="celdas internas" style="flex: 1;">contenido</div>  
          <div class="celdas internas" style="flex: 1;">contenido</div>  

          <div class="celdas internas" style="flex: 1;">contenido</div>
          <div class="celdas internas" style="flex: 1;">contenido</div>
          <div class="celdas internas" style="flex: 1;">contenido</div>


          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div> 
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div> 
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div> 
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div> 
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div> 
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div> 
          <div class="celdas internas" style="flex: 2; display: flex; flex-direction: row;">
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
            <div class="celdas internas" style="flex: 1;">Contenido</div>
          </div> 

        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="fixedColumns; sticky: true" style="background-color: #ffcc0c;" ></mat-header-row>
    <mat-row class="row-table" style="height: 15vh; min-height: 141px;" *matRowDef="let row; columns: fixedColumns;"></mat-row>
  </mat-table>

</div>

<div style="position: fixed; 
top:130px; left: 390px; 
width: 50%; z-index: 4; 
max-height: 80vh; 
background-color: white; 
padding: 10px; 
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
border-radius: 10px; overflow:scroll;" 
*ngIf="isShownComponent">
    <h5>Relacionar con artículos.</h5>
  <app-search-document-and-paragraph
  (sendingArticles)="artReceived($event)" 
  (sendingParagraphs) = "parRecieved($event)"
  (sendingDeleted) = "delArtRecieved($event)"
  (closingPanel)="closePanel($event)" 
  [articlesPrevRelated]="universalrow.content.leyes"></app-search-document-and-paragraph> 
</div>

<div style="position: fixed; top:230px; left: 390px; width: 50%; z-index: 4;">
  <div style="background-color: white; padding: 10px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); border-radius: 10px;" *ngIf="isShownTopics">
    <h5>Relacionar con temas.</h5>
    <app-search-topic (sendingTopics)="topicReceived($event)" (closingPanel)="closePanel($event)"></app-search-topic>
  </div>
</div>

<div style="position: fixed; top:130px; left: 390px; width: 50%; z-index: 4;">
  <div style="max-height: 70vh; overflow: scroll; background-color: white; padding: 10px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); border-radius: 10px;" *ngIf="isShownDocumentation">
    <h5>Relacionar con documentaciones.</h5>
    <app-search-documentation (closingPanel)="closePanel($event)" (sendingDocumentations)="onDataReceived($event)"></app-search-documentation>
    <button mat-raised-button color="primary" style="margin: 22px;" (click)="documentationReceived()">Relacionar</button>&nbsp;
    <button mat-raised-button color="secondary" (click)="closeDocumentation()">Cancelar</button>
  </div>
</div>

<div style="position: fixed; top:130px; left: 390px; width: 50%; z-index: 4;">
  <div style="max-height: 70vh; overflow: scroll; background-color: white; padding: 10px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); border-radius: 10px;" *ngIf="isShownCapacitations">
    <h5>Relacionar con capacitaciones.</h5>
    <app-search-capacitations (closingPanel)="closePanel($event)" (sendingCapacitations)="onCapacitationsReceived($event)"></app-search-capacitations>
    <button mat-raised-button color="primary" style="margin: 22px;" (click)="capacitationsRecieved()">Relacionar</button>&nbsp;
    <button mat-raised-button color="secondary" (click)="closeCapacitations()">Cancelar</button>
  </div>
</div>
