<app-user-icon></app-user-icon>
<app-traffic-light></app-traffic-light>

<div class="page-content">
  <div #tableContainer style="overflow-x: auto;">
    <table mat-table [dataSource]="dataSource" class="mat-table">

      <!-- Definir columnas -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="sticky-column" style="min-width: 50px;"> No. </th>
        <td mat-cell *matCellDef="let element" class="sticky-column" style="min-width: 50px;"> {{element.num}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="sticky-column" style="min-width: 350px;"> Mini Matriz </th>
        <td mat-cell *matCellDef="let element" class="sticky-column" style="min-width: 350px;"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="first_period">
        <th mat-header-cell *matHeaderCellDef  style="min-width: 150px;"> Periodo para iniciar </th>
        <td mat-cell *matCellDef="let element"  style="min-width: 150px;"> {{element.first_period}} </td>
      </ng-container>

      <ng-container matColumnDef="second_period">
        <th mat-header-cell *matHeaderCellDef  style="min-width: 150px;"> Periodo recomendado </th>
        <td mat-cell *matCellDef="let element"  style="min-width: 150px;"> {{element.second_period}} </td>
      </ng-container>

      <ng-container matColumnDef="third_period">
        <th mat-header-cell *matHeaderCellDef  style="min-width: 150px;"> Vencimiento próximo </th>
        <td mat-cell *matCellDef="let element"  style="min-width: 150px;"> {{element.third_period}} </td>
      </ng-container>

      <ng-container matColumnDef="fourth_period">
        <th mat-header-cell *matHeaderCellDef  style="min-width: 150px;"> Muy urgente </th>
        <td mat-cell *matCellDef="let element"  style="min-width: 150px;"> {{element.fourth_period}} </td>
      </ng-container>

      <ng-container matColumnDef="outside_period">
        <th mat-header-cell *matHeaderCellDef  style="min-width: 150px;"> Fuera de tiempo para lo apropiado </th>
        <td mat-cell *matCellDef="let element"  style="min-width: 150px;"> {{element.outside_period}} </td>
      </ng-container>

      <ng-container matColumnDef="legal_founding">
        <th mat-header-cell *matHeaderCellDef style="min-width: 200px;"> Fundamento Legal </th>
        <td mat-cell *matCellDef="let element" style="min-width: 200px;"> {{element.legal_founding}} </td>
      </ng-container>

      <ng-container matColumnDef="snitching_supervisor">
        <th mat-header-cell *matHeaderCellDef style="min-width: 200px;"> Cuando dar aviso al supervisor </th>
        <td mat-cell *matCellDef="let element" style="min-width: 200px;"> {{element.snitching_supervisor}} </td>
      </ng-container>

      <ng-container matColumnDef="evidence">
        <th mat-header-cell *matHeaderCellDef style="min-width: 400px;"> Qué evidencia debe subir </th>
        <td mat-cell *matCellDef="let element" style="min-width: 400px;"> {{element.evidence}} </td>
      </ng-container>

      <ng-container matColumnDef="1minute">
        <th mat-header-cell *matHeaderCellDef style="min-width: 150px;"> Video de 1 minuto </th>
        <td mat-cell *matCellDef="let element" style="min-width: 150px;"> {{element.one_minute}} </td>
      </ng-container>

      <ng-container matColumnDef="5minute">
        <th mat-header-cell *matHeaderCellDef style="min-width: 150px;"> Video de 5 minutos </th>
        <td mat-cell *matCellDef="let element" style="min-width: 150px;"> {{element.five_minute}} </td>
      </ng-container>

      <ng-container matColumnDef="exam_questions">
        <th mat-header-cell *matHeaderCellDef style="min-width: 200px;"> Preguntas de exámen </th>
        <td mat-cell *matCellDef="let element" style="min-width: 200px;"> {{element.exam_questions}} </td>
      </ng-container>

      <ng-container matColumnDef="correct_answers">
        <th mat-header-cell *matHeaderCellDef style="min-width: 150px;"> Respuesta correcta </th>
        <td mat-cell *matCellDef="let element" style="min-width: 150px;"> {{element.correct_answers}} </td>
      </ng-container>

      <ng-container matColumnDef="incorrect_answers">
        <th mat-header-cell *matHeaderCellDef style="min-width: 200px;"> Respuestas incorrectas </th>
        <td mat-cell *matCellDef="let element" style="min-width: 200px;"> {{element.incorrect_answers}} </td>
      </ng-container>

      <ng-container matColumnDef="incomplete_sanctions">
        <th mat-header-cell *matHeaderCellDef style="min-width: 200px;"> Sanciones por incumplimiento </th>
        <td mat-cell *matCellDef="let element" style="min-width: 200px;"> {{element.incomplete_sanctions}} </td>
      </ng-container>

      <!-- Encabezado de la tabla -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
      <!-- Filas de la tabla -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
