/* Estilo para la columna fija */
.mat-cell,
.mat-header-cell {
  min-width: 100px; /* Ajusta el valor según tus necesidades */
}

.page-content{
  padding: 0px !important;
  
}

.fixed-column tr:first-child { background-color: yellow; }
  
