.table-container {
    max-height: 85vh;
    max-width: 160vw;
    overflow-y: auto;
}

.month-navigation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    background: #ffcc0c;
    border-bottom: .5px solid #81660e;
}

.button-next{
    background: none ;
    border: none;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: 500;
    padding-bottom: 10px;
}

.button-prev{
    background: none ;
    border: none;
    padding-right: 30px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.indicador-pasado {
    position: absolute;
    font-size: x-small;
    right: -1px;
    top: -10px;
    padding: 5px;
    background-color: red;
    border-radius: 15px;
    color: white;
    font-weight: normal;
    display: flex;
}

.mat-elevation-z8 {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    border-right: 1px solid #81660e;
    border-bottom: 1px solid #81660e;
    border-left: 1px solid #81660e;
    border-top: 1px solid #81660e;
    padding-right: 0px !important; 
}

th.date-column, td.date-column {
    min-width: 40px;
    text-align: center;
    //background: #ffcc0c;
    flex: 1;
    max-width: 30vw;
    background-color: transparent;
    overflow: scroll;
}

mat-header-row, mat-row {
    display: flex;
    box-sizing: border-box;
    border-bottom: solid 2px #81660e !important;
    width: 100%;
}


.borde{
  border: solid 1px red;
}

.mat-column-nombre {
    text-align: center;
    width: 400px !important;
    overflow: scroll;
    padding: 10px;
    white-space: nowrap;
    //background: white !important;
}

th.mat-column-nombre {
    background: #ffcc0c !important;
}

.sticky-column {
    position: sticky;
    left: 0;
    z-index: 1;
}

.indicador {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.indicador:hover {
    cursor: pointer;
}

.indicador-lento{
    animation: parpadeo 3s infinite;
}

.indicador-rapido{
    animation: parpadeo 0.3s infinite;
}

@keyframes parpadeo {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes parpadeo-rapido {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

a:hover{
    cursor: pointer;
}

.pasado-faltante{
    position: absolute;
    top: 50px;
    color: red;
    font-weight: bold;
    left: 35vw;
    font-size: x-small;
}

.custom-tooltip {
    position: absolute;
    top: 25px;
    left: 50%; /* Opcional: para centrarlo horizontalmente */
    transform: translateX(-90%); /* Opcional: para centrarlo horizontalmente */
    //max-height: calc(1.2em * 2); /* Altura máxima de dos líneas */
    max-height: 80px;
    width:max-content;
    padding: 2px;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 3px;
    display: none;
    z-index: 3;
    font-size:small;
}

td{
    padding-left: 0px !important;
}

.custom-tooltip-column {
    position: absolute;
    top: 25px;
    left: 100%; /* Opcional: para centrarlo horizontalmente */
    padding: 2px;
    max-width: 300px;
    width: max-content;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    //background-color: red;
    color: white;
    border-radius: 3px;
    display: none;
    z-index: 30000;
    font-size:small;
    white-space: wrap;

}

.show {
    display: flex;
}

.chat-button {
    background-color: #ffcc0c;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.coso {
    position: relative;
    max-width: 20vw;
    overflow: scroll;
}

.paragraph {
    ::-webkit-scrollbar {
        width: 0; /* Ancho de la barra de desplazamiento vertical */
        height: 0; /* Altura de la barra de desplazamiento horizontal */
        display: none;
    }

    /* Estilo para Firefox */
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 8px;
}

.scroll-invisible ::-webkit-scrollbar {
    display: none;
}
  
.scroll-invisible{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }