<app-traffic-light [datosActualizados]="tableData"></app-traffic-light>
<app-user-icon></app-user-icon>
<app-chat-bubble [openChat]="openChat"></app-chat-bubble>

<div class="month-navigation">
    <mat-icon>chevron_left</mat-icon> <button (click)="navigateMonth(-1)"class="button-prev">
        Anterior
        <div class="indicador-pasado" *ngIf="cumplimientos_faltantes > 0">{{cumplimientos_faltantes}}</div>
    </button>
    <span class="pasado-faltante" *ngIf="false">*PENDIENTES EN EL PASADO, VERIFICAR*</span>
    <span>{{ getCurrentMonthText() }}</span>
    <button (click)="navigateMonth(1)" class="button-next">Siguiente</button><mat-icon>chevron_right</mat-icon>
  </div>

<div class="table-container">
    <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
        <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef class="date-column" [ngClass]="{'sticky-column': i === 0, 'cumplimiento-header': column === 'nombre'}">
                <ng-container *ngIf="column === 'nombre'; else dateColumn">
                    Cumplimiento
                </ng-container>
        
                <ng-template #dateColumn>
                    <ng-container *ngIf="column !== 'descripcion'; else descColumn">
                        <a (click)="openDayDialog(column)">{{ column | date:'dd' }}</a>
                    </ng-container>
                </ng-template>

                <ng-template #descColumn>
                    Video
                </ng-template>
            </th>
            <td mat-cell *matCellDef="let element; let index" class="date-column" [ngClass]="{'sticky-column': i === 0, 'cumplimiento-cell': column === 'nombre'}"
            #currentDayCell [ngStyle]="{'background-color': isColumn(column, element)}">

                <ng-container *ngIf="column === 'nombre'; else dateCell" class="coso scroll-invisible">
                    <p (mouseenter)="startHoverTimer(element, column)" (mouseleave)="clearTooltips()" (click)="prueba(element, column)"
                    class="paragraph">{{ element.obligations.nombre }}</p>
                    <div class="custom-tooltip-column" [id]="'tooltip-'+element.id+'-'+column" >
                        {{element.obligations.descripcion}} 
                    </div>
                </ng-container>
                
                <ng-container *ngIf="column === 'descripcion'; else dateCell" class="coso">
                    
                    <button mat-icon-button (click)="abrirVideo(allVideosPrueba[0].address)">
                        <mat-icon>video_library</mat-icon>
                    </button>
                </ng-container>
                <ng-template #dateCell>
                    <div style="position: relative;" class="scroll-invisible"> <!-- Agregar style="position: relative;" al div padre -->
                        {{ element[column]?.urgent_date_start | date:'dd MMMM' }}
                        <div class="indicador"
                             [ngStyle]="{'background-color': isFechaMaxima(element, column)}"
                             [ngClass]="{'indicador-lento': isIndicadorLento(element, column), 'indicador-rapido': isIndicadorRapido(element, column)}"
                             (mouseenter)="startHoverTimer(element, column)" (mouseleave)="clearTooltips()" (click)="prueba(element, column)">
                        </div>
                        <div class="custom-tooltip" [id]="'tooltip-'+element.id+'-'+column" (mouseenter)="prueba(element, column)" (mouseleave)="clearTooltips()">
                            {{messageTooltip(element, column)}} 
                            <button *ngIf="showChatButton" class="chat-button" (click)="openChatDirective()">Ir al chat</button>
                        </div>
                        <ng-template #tpl>
                            {{messageTooltip(element, column)}}
                            <button *ngIf="showChatButton" class="chat-button" (click)="openChatDirective()">Ir al chat</button>
                        </ng-template>
                    </div>
                </ng-template>
                
                
            </td>            
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>