<app-traffic-light [datosActualizados]="tableData"></app-traffic-light>
<app-user-icon></app-user-icon>
<app-chat-bubble [openChat]="openChat"></app-chat-bubble>

<div class="month-navigation">
    <mat-icon>chevron_left</mat-icon> <button (click)="navigateMonth(-1)"class="button-prev">
        Anterior
        <div class="indicador-pasado" *ngIf="cumplimientos_faltantes > 0">{{cumplimientos_faltantes}}</div>
    </button>
    <span class="pasado-faltante" *ngIf="false">*PENDIENTES EN EL PASADO, VERIFICAR*</span>
    <span>{{ getCurrentMonthText() }}</span>
    <button (click)="navigateMonth(1)" class="button-next">Siguiente</button><mat-icon>chevron_right</mat-icon>
  </div>

<div class="table-container">
    <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
        <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef class="date-column sticky-header" [ngClass]="{'sticky-column': i === 0, 'cumplimiento-header': column === 'nombre'}">
                <ng-container *ngIf="column === 'nombre'; else descColumn" style="display: flex;">
                    <div style="height: 50px; align-items: center; justify-content: center; display: flex; z-index: 10 !important; position: relative;">
                        <span>Cumplimiento</span>
                    </div>
                    
                </ng-container>
        
                <ng-template #dateColumn>
                    <ng-container >
                        <div style="position: relative;">
                            <a (click)="openDayDialog(column)" style=" z-index: 5; position: relative; color: rgb(1, 143, 209); text-decoration-line:underline;">{{ column | date:'dd' }}</a>
                        </div>
                        
                    </ng-container>
                </ng-template>

                <ng-template #descColumn>
                    <ng-container *ngIf="column === 'descripcion'; else fiveMinute">
                        <div>
                            1 minuto
                        </div>
                    </ng-container>
                </ng-template>

                <ng-template #fiveMinute>
                    <ng-container *ngIf="column === 'fiveMinute'; else fifteenMinute">
                        <div>
                            5 minutos
                        </div>
                    </ng-container>
                </ng-template>

                <ng-template #fifteenMinute>
                    <ng-container *ngIf="column === 'fifteenMinute'; else thirtyMinute">
                        <div>
                            15 minutos
                        </div>
                    </ng-container>
                </ng-template>

                <ng-template #thirtyMinute>
                    <ng-container *ngIf="column === 'thirtyMinute'; else sixtyMinute">
                        <div>
                            30 minuto
                        </div>
                    </ng-container>
                </ng-template>

                <ng-template #sixtyMinute>
                    <ng-container *ngIf="column === 'sixtyMinute'; else dateColumn">
                        <div>
                            60 minutos
                        </div>
                    </ng-container>
                </ng-template>
            </th>
            <td mat-cell *matCellDef="let element; let index" class="date-column" [ngClass]="{'sticky-column': i === 0, 'cumplimiento-cell': column === 'nombre'}"
            #currentDayCell [ngStyle]="{'background-color': isColumn(column, element)}">

                <ng-container *ngIf="column === 'nombre'; else dateCell" class="coso scroll-invisible">
                    <p (mouseenter)="startHoverTimer(element, column)" (mouseleave)="clearTooltips()" (click)="prueba(element, column)"
                    class="paragraph">{{ element.obligations.nombre}}</p>
                    <div class="custom-tooltip-column" [id]="'tooltip-'+element.id+'-'+column" >
                        {{element.obligations.descripcion}} 
                    </div>
                </ng-container>
                
                <ng-container *ngIf="column === 'descripcion'; else fiveMinute" class="coso">
                    
                    <button mat-icon-button (click)="abrirVideo(allVideosPrueba[0].address)">
                        <mat-icon>video_library</mat-icon>
                    </button>
                </ng-container>

                <ng-container *ngIf="column === 'fiveMinute'; else fifteenMinute" class="coso">
                    
                    <button mat-icon-button (click)="abrirVideo(allVideosPrueba[0].address)">
                        <mat-icon>video_library</mat-icon>
                    </button>
                </ng-container>

                <ng-container *ngIf="column === 'fifteenMinute'; else thirtyMinute" class="coso">
                    
                    <button mat-icon-button (click)="abrirVideo(allVideosPrueba[0].address)">
                        <mat-icon>video_library</mat-icon>
                    </button>
                </ng-container>

                <ng-container *ngIf="column === 'thirtyMinute'; else sixtyMinute" class="coso">
                    
                    <button mat-icon-button (click)="abrirVideo(allVideosPrueba[0].address)">
                        <mat-icon>video_library</mat-icon>
                    </button>
                </ng-container>

                <ng-container *ngIf="column === 'sixtyMinute'; else dateCell" class="coso">
                    
                    <button mat-icon-button (click)="abrirVideo(allVideosPrueba[0].address)">
                        <mat-icon>video_library</mat-icon>
                    </button>
                </ng-container>




                <ng-template #dateCell>
                    <div style="position: relative;" class="scroll-invisible"> <!-- Agregar style="position: relative;" al div padre -->
                        {{ element[column]?.urgent_date_start | date:'dd MMMM' }}
                        <div class="indicador"
                             [ngStyle]="{'background-color': isFechaMaxima(element, column)}"
                             [ngClass]="{'indicador-lento': isIndicadorLento(element, column), 'indicador-rapido': isIndicadorRapido(element, column)}"
                             (click)="prueba(element, column)">
                        </div>
                        <div class="custom-tooltip" [id]="'tooltip-'+element.id+'-'+column" (mouseenter)="prueba(element, column)" >
                            {{messageTooltip(element, column)}} 
                            <button *ngIf="showChatButton" class="chat-button" (click)="openChatDirective()">Ir al chat</button>
                        </div>
                        <ng-template #tpl>
                            {{messageTooltip(element, column)}}
                            <button *ngIf="showChatButton" class="chat-button" (click)="openChatDirective()">Ir al chat</button>
                        </ng-template>
                    </div>
                </ng-template>
                
                
            </td>            
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div style="position: fixed; bottom: 0; width: 100%; font-size: small;">
        <div class="legend-container">
            <div class="legend-item">
                <div class="legend-ball blink-slow" style="background-color: #ffcc0c;"></div>
                <span>Periodo ideal para iniciar el cumplimiento</span>
            </div>
            <div class="legend-item">
                <div class="legend-ball blink-fast" style="background-color: #ffcc0c;"></div>
                <span>Periodo ideal para terminar el cumplimiento </span>
            </div>
            <div class="legend-item">
                <div class="legend-ball blink-slow" style="background-color: red;"></div>
                <span> Periodo para cumplirlo con vencimiento próximo</span>
            </div>
            <div class="legend-item">
                <div class="legend-ball blink-fast" style="background-color: red;"></div>
                <span>Periodo para cumplirlo muy urgente</span>
            </div>
        
            <div class="legend-item">
                <div class="legend-ball" style="background-color: red;"></div>
                <span>Cumplimiento aun no realizado</span>
            </div>
            <div class="legend-item">
                <div class="legend-ball" style="background-color: #ffcc0c;"></div>
                <span>En supervisión</span>
            </div>
            <div class="legend-item">
                <div class="legend-ball" style="background-color: green;"></div>
                <span>Cumplido</span>
            </div>
        </div>
    </div>
</div>