<h2 mat-dialog-title>Editar Módulo</h2>
<mat-dialog-content>
    <div class="grid-container">
        <div class="grid-item">
            <mat-form-field>
                <input matInput required placeholder="Nombre" [(ngModel)]="editedModuleName">
            </mat-form-field>
        </div>
        <div class="grid-item">
            <mat-form-field>
                <input matInput required type="number" placeholder="Orden" [(ngModel)]="editedOrder">
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: column;">
            <mat-form-field>
                <mat-label>Módulo padre:</mat-label>
                <mat-select [(ngModel)]="selectedModule">
                    <mat-option *ngFor="let module of data.moduleList" [value]="module.id">{{ module.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div class="submodule-section">
            <mat-label>Submodulos:</mat-label>           
             <mat-list>
                <mat-list-item *ngFor="let submodule of data.moduleData.submodulos; let i = index">
                    <mat-form-field>
                        <input matInput [(ngModel)]="data.moduleData.submodulos[i].nombre" placeholder="Nombre submódulo">
                    </mat-form-field>
                    <button mat-icon-button color="warn" (click)="removeSubmodule(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button style="display: flex; justify-content: center;" mat-flat-button color="" (click)="editSubmoduleName(i)">
                            Guardar
                    </button>
                </mat-list-item>
            </mat-list>
        </div>
   
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-button color="primary" (click)="editModule()">Guardar</button>
</mat-dialog-actions>
