
.documents-full-width {
    width: 31.5vw;
    margin-right: 10px;
}
  
.artlet-full-width {
    width: 30vw;
    margin-right: 10px;
}

.artlet2-full-width{
    width: 20vw;
    margin-right: 10px;
}

.artlet-container {
    display: flex;
}

.arlet-new-container {
    width: 47.6vw;
    margin-right: 10px;
}

.category-full-width {
    width: 44.5vw;
}

.toolkit {
    height: auto;
}

.listCard {
    margin-bottom: 10px;
}

.itemList {
    display: flex;
}

.errorMsg {
    color: red;
    font-size: 13px;
}

.buttonsContainer {
    display: flex;
    margin: 1em;
}

.example-h2 {
    margin: 10px;
}
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.example-margin {
    margin: 10px;
}