<div class="mainDiv" *ngIf="showMain">
    <mat-card class="mainCard">
        <a routerLink="/config/menu" class="return"><mat-icon style="font-weight: 700; font-size: 40px; overflow: visible; padding: 20px;">arrow_back</mat-icon></a>
        <div style="display: flex; align-items: center; justify-content: center;">
        <p style="font-weight: 700;">{{ title }}</p>
        </div>
        <mat-card-content>
            <div class="flex-container">
                <form>
                    <mat-form-field class="clients-full-width" appearance="fill">
                      <mat-label>Documento</mat-label>
                      <input type="text" matInput [formControl]="myControlDocuments" [matAutocomplete]="auto" (change)="handleEmptyDoc($event)" required>
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDocument" (optionSelected)="selectedDoc($event)">
                        <mat-option *ngFor="let option of filteredDocOptions | async" [value]="option">
                          {{option.titulo}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </form>
                <form>
                    <mat-form-field class="category-full-width" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput [formControl]="myControlName" [(ngModel)]="name" required>
                    </mat-form-field>
                </form>
                <!--<form>
                    <mat-form-field class="obligations-full-width" appearance="fill">
                      <mat-label>Obligaciones</mat-label>
                      <input type="text" matInput [formControl]="myControlObligations" [matAutocomplete]="autoB">
                    </mat-form-field>
                    
                    <mat-autocomplete #autoB="matAutocomplete" [displayWith]="displayObligations">
                        <mat-option *ngFor="let option of filteredOblOptions | async" [value]="selectedObligations">
                            <div (click)="selectedObl($event, option)">
                                <mat-checkbox [checked]="option.selected" (change)="toggleSelection(option)" (click)="$event.stopPropagation()">
                                    {{ option.nombre }}
                                </mat-checkbox>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </form>-->
            </div>
        </mat-card-content>
        <div style="display: flex; align-items: center; justify-content: end; margin-right: 120px; margin-top:-20px; margin-bottom: 20px;">
        <button mat-raised-button color="primary" [disabled]="checkValues()" (click)="saveAssignation()">Guardar</button>
        </div>
    </mat-card>
</div>
<div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>