<app-user-icon></app-user-icon>
<app-traffic-light></app-traffic-light>

<div class="accordions-container row" style="height:90vh; display: flex; width:100vw; flex-direction: row;">
    <div class="accordion-container" style="max-height: 90vh; background-color: white; width:29vw; overflow: scroll;"
        [ngClass]="{'col-md-6 col-lg-6 col-xxxl-6':article && !articleRel, 'col-md-12 col-lg-12 col-xxxl-12':!article && !articleRel, 'col-md-6  col-lg-7 col-xxxl-7':article && articleRel}">

        <mat-accordion>
            <!-- LAWS -->
            <mat-expansion-panel *ngFor="let law of data" hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="icono">menu_book</mat-icon> &nbsp; {{law.name}}
                    </mat-panel-title>
                    <mat-icon *ngIf="isAdmin" class="icono"
                        (click)="deleteS(law.id,'clasificaciones')">delete</mat-icon>
                </mat-expansion-panel-header>
                <div style="margin-top: -20px;">

                    <!-- BOOKS -->
                    <mat-expansion-panel class="custom-panel" *ngFor="let book of law.books" hideToggle="true">
                        <mat-expansion-panel-header style="margin-top: -10px;">
                            <div
                                style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                <div
                                    style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: black; border-bottom-style: solid;">
                                </div>
                                <div></div>
                            </div>
                            <mat-icon style="position: absolute; left: 0px; top: 15px;">book</mat-icon>
                            <div class="title"
                                style="position: absolute; left: 20px; top: 15px; line-height: 1.5; padding-right: 40px;">
                                Libro {{book.number}} - {{book.name}}
                            </div>
                        </mat-expansion-panel-header>

                        <!-- TITLES -->
                        <div *ngIf="book.titles" style="margin-top: -25px; margin-left: -20px;">
                            <mat-expansion-panel class="custom-panel" style="border-left-color: gray !important;" *ngFor="let tit of book.titles" hideToggle="true">
                                <mat-expansion-panel-header style="display: flex; align-items: center">
                                    <div style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                        <div style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: gray; border-bottom-style: solid;"></div>
                                    </div>
                                    <mat-panel-title style="position: absolute; left: 5px; top: 15px; line-height: 1; padding-right: 40px;">
                                        Título {{tit.number}} - {{tit.name}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <!-- CHAPTERS -->
                                <div *ngIf="tit.chapters">
                                    <mat-expansion-panel class="custom-panel" style="border-left-color: gray !important;" *ngFor="let chap of tit.chapters" hideToggle="true">
                                        <mat-expansion-panel-header style="display: flex; align-items: center">
                                            <div style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                                <div style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: gray; border-bottom-style: solid;"></div>
                                            </div>
                                            <mat-panel-title style="position: absolute; left: 5px; top: 15px; line-height: 1; padding-right: 40px;">
                                                Capítulo {{chap.number}} - {{chap.name}}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <!-- SECTION -->
                                        <div *ngIf="chap.sections">
                                            <mat-expansion-panel class="custom-panel" style="border-left-color: gray !important;" *ngFor="let sec of chap.sections" hideToggle="true">
                                                <mat-expansion-panel-header style="display: flex; align-items: center">
                                                    <div style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                                        <div style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: gray; border-bottom-style: solid;"></div>
                                                    </div>
                                                    <mat-panel-title style="position: absolute; left: 5px; top: 15px; line-height: 1; padding-right: 40px;">
                                                        Sección {{sec.number}} - {{sec.name}}
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
        
                                                <!-- ARTICLES -->
                                                <div *ngIf="sec.article">
                                                    <mat-expansion-panel class="custom-panel" style="border-left-color: gray !important;" (click)="articleClick(art)"
                                                        *ngFor="let art of sec.article" hideToggle="true">
                                                        <mat-expansion-panel-header style="display: flex; align-items: center">
                                                            <div
                                                                style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                                                <div
                                                                    style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: gray; border-bottom-style: solid;">
                                                                </div>
                                                            </div>
                                                            <mat-panel-title
                                                                style="position: absolute; left: 5px; top: 15px; line-height: 1; padding-right: 40px;">Artículo
                                                                {{art.completeNumber}}</mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                    </mat-expansion-panel>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>

                                        <!-- ARTICLES -->
                                        <div *ngIf="chap.articles">
                                            <mat-expansion-panel class="custom-panel" *ngFor="let art of chap.articles" hideToggle="true" (click)="articleClick(art)">
                                                <mat-expansion-panel-header style="margin-top: -10px;">
                                                    <div
                                                        style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                                        <div
                                                            style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: black; border-bottom-style: solid;">
                                                        </div>
                                                        <div></div>
                                                    </div>
                                                    <mat-icon style="position: absolute; left: 0px; top: 15px;">book</mat-icon>
                                                    <div class="title"
                                                        style="position: absolute; left: 20px; top: 15px; line-height: 1.5; padding-right: 40px;">
                                                        Artículo {{art.completeNumber}}
                                                    </div>
                                                    <mat-icon *ngIf="isAdmin" style="position: absolute; right: 0px; top: 15px;"
                                                        (click)="deleteS(doc.id,'documentos')">delete</mat-icon>
                                                </mat-expansion-panel-header>
                                            </mat-expansion-panel>
                                        </div>
                                    </mat-expansion-panel>
                                </div>

                                <!-- ARTICLES -->
                                <div *ngIf="tit.articles">
                                    <mat-expansion-panel class="custom-panel" *ngFor="let art of tit.articles" hideToggle="true" (click)="articleClick(art)">
                                        <mat-expansion-panel-header style="margin-top: -10px;">
                                            <div
                                                style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                                <div
                                                    style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: black; border-bottom-style: solid;">
                                                </div>
                                                <div></div>
                                            </div>
                                            <mat-icon style="position: absolute; left: 0px; top: 15px;">book</mat-icon>
                                            <div class="title"
                                                style="position: absolute; left: 20px; top: 15px; line-height: 1.5; padding-right: 40px;">
                                                Artículo {{art.completeNumber}}
                                            </div>
                                            <mat-icon *ngIf="isAdmin" style="position: absolute; right: 0px; top: 15px;"
                                                (click)="deleteS(doc.id,'documentos')">delete</mat-icon>
                                        </mat-expansion-panel-header>
                                    </mat-expansion-panel>
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </mat-expansion-panel>

                    <!-- TITLES -->
                    <mat-expansion-panel class="custom-panel" *ngFor="let tit of law.titles" hideToggle="true">
                        <mat-expansion-panel-header style="margin-top: -10px;">
                            <div
                                style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                <div
                                    style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: black; border-bottom-style: solid;">
                                </div>
                                <div></div>
                            </div>
                            <mat-icon style="position: absolute; left: 0px; top: 15px;">book</mat-icon>
                            <div class="title"
                                style="position: absolute; left: 20px; top: 15px; line-height: 1.5; padding-right: 40px;">
                                Título {{tit.number}} - {{tit.name}}
                            </div>
                            <mat-icon *ngIf="isAdmin" style="position: absolute; right: 0px; top: 15px;"
                                (click)="deleteS(doc.id,'documentos')">delete</mat-icon>
                        </mat-expansion-panel-header>

                        <!-- CHAPTERS -->
                        <div *ngIf="tit.chapters">
                            <mat-expansion-panel class="custom-panel" style="border-left-color: gray !important;" *ngFor="let chap of tit.chapters" hideToggle="true">
                                <mat-expansion-panel-header style="display: flex; align-items: center">
                                    <div style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                        <div style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: gray; border-bottom-style: solid;"></div>
                                    </div>
                                    <mat-panel-title style="position: absolute; left: 5px; top: 15px; line-height: 1; padding-right: 40px;">
                                        Capítulo {{chap.number}} - {{chap.name}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <!-- SECTION -->
                                <div *ngIf="chap.sections">
                                    <mat-expansion-panel class="custom-panel" style="border-left-color: gray !important;" *ngFor="let sec of chap.sections" hideToggle="true">
                                        <mat-expansion-panel-header style="display: flex; align-items: center">
                                            <div style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                                <div style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: gray; border-bottom-style: solid;"></div>
                                            </div>
                                            <mat-panel-title style="position: absolute; left: 5px; top: 15px; line-height: 1; padding-right: 40px;">
                                                Sección {{sec.number}} - {{sec.name}}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <!-- ARTICLES -->
                                        <div *ngIf="sec.article">
                                            <mat-expansion-panel class="custom-panel" style="border-left-color: gray !important;" (click)="articleClick(art)"
                                                *ngFor="let art of sec.article" hideToggle="true">
                                                <mat-expansion-panel-header style="display: flex; align-items: center">
                                                    <div
                                                        style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                                        <div
                                                            style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: gray; border-bottom-style: solid;">
                                                        </div>
                                                    </div>
                                                    <mat-panel-title
                                                        style="position: absolute; left: 5px; top: 15px; line-height: 1; padding-right: 40px;">Artículo
                                                        {{art.completeNumber}}</mat-panel-title>
                                                </mat-expansion-panel-header>
                                            </mat-expansion-panel>
                                        </div>
                                    </mat-expansion-panel>
                                </div>

                                <!-- ARTICLES -->
                                <div *ngIf="chap.articles">
                                    <mat-expansion-panel class="custom-panel" *ngFor="let art of chap.articles" hideToggle="true" (click)="articleClick(art)">
                                        <mat-expansion-panel-header style="margin-top: -10px;">
                                            <div
                                                style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                                <div
                                                    style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: black; border-bottom-style: solid;">
                                                </div>
                                                <div></div>
                                            </div>
                                            <mat-icon style="position: absolute; left: 0px; top: 15px;">book</mat-icon>
                                            <div class="title"
                                                style="position: absolute; left: 20px; top: 15px; line-height: 1.5; padding-right: 40px;">
                                                Artículo {{art.completeNumber}}
                                            </div>
                                            <mat-icon *ngIf="isAdmin" style="position: absolute; right: 0px; top: 15px;"
                                                (click)="deleteS(doc.id,'documentos')">delete</mat-icon>
                                        </mat-expansion-panel-header>
                                    </mat-expansion-panel>
                                </div>
                            </mat-expansion-panel>
                        </div>

                        <!-- ARTICLES -->
                        <div *ngIf="tit.articles">
                            <mat-expansion-panel class="custom-panel" *ngFor="let art of tit.articles" hideToggle="true" (click)="articleClick(art)">
                                <mat-expansion-panel-header style="margin-top: -10px;">
                                    <div
                                        style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                        <div
                                            style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: black; border-bottom-style: solid;">
                                        </div>
                                        <div></div>
                                    </div>
                                    <mat-icon style="position: absolute; left: 0px; top: 15px;">book</mat-icon>
                                    <div class="title"
                                        style="position: absolute; left: 20px; top: 15px; line-height: 1.5; padding-right: 40px;">
                                        Artículo {{art.completeNumber}}
                                    </div>
                                    <mat-icon *ngIf="isAdmin" style="position: absolute; right: 0px; top: 15px;"
                                        (click)="deleteS(doc.id,'documentos')">delete</mat-icon>
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </div>
                    </mat-expansion-panel>

                    <!-- CHAPTERS -->
                    <mat-expansion-panel class="custom-panel" *ngFor="let chap of law.chapters" hideToggle="true">
                        <mat-expansion-panel-header style="margin-top: -10px;">
                            <div
                                style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                <div
                                    style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: black; border-bottom-style: solid;">
                                </div>
                                <div></div>
                            </div>
                            <mat-icon style="position: absolute; left: 0px; top: 15px;">book</mat-icon>
                            <div class="title"
                                style="position: absolute; left: 20px; top: 15px; line-height: 1.5; padding-right: 40px;">
                                Capítulo {{chap.number}} - {{chap.name}}
                            </div>
                        </mat-expansion-panel-header>

                        <!-- SECTIONS -->
                        <div *ngIf="chap.sections">
                            <mat-expansion-panel class="custom-panel" style="border-left-color: gray !important;" *ngFor="let sec of chap.sections" hideToggle="true">
                                <mat-expansion-panel-header style="display: flex; align-items: center">
                                    <div style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                        <div style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: gray; border-bottom-style: solid;"></div>
                                    </div>
                                    <mat-panel-title style="position: absolute; left: 5px; top: 15px; line-height: 1; padding-right: 40px;">
                                        Sección {{sec.number}} - {{sec.name}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <!-- ARTICLES -->
                                <div *ngIf="sec.article">
                                    <mat-expansion-panel class="custom-panel" style="border-left-color: gray !important;" (click)="articleClick(art)"
                                        *ngFor="let art of sec.article" hideToggle="true">
                                        <mat-expansion-panel-header style="display: flex; align-items: center">
                                            <div
                                                style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                                <div
                                                    style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: gray; border-bottom-style: solid;">
                                                </div>
                                            </div>
                                            <mat-panel-title
                                                style="position: absolute; left: 5px; top: 15px; line-height: 1; padding-right: 40px;">Artículo
                                                {{art.completeNumber}}</mat-panel-title>
                                        </mat-expansion-panel-header>
                                    </mat-expansion-panel>
                                </div>
                            </mat-expansion-panel>
                        </div>

                        <!-- ARTICLES -->
                        <div *ngIf="chap.articles">
                            <mat-expansion-panel class="custom-panel" *ngFor="let art of chap.articles" hideToggle="true" (click)="articleClick(art)">
                                <mat-expansion-panel-header style="margin-top: -10px;">
                                    <div
                                        style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                        <div
                                            style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: black; border-bottom-style: solid;">
                                        </div>
                                        <div></div>
                                    </div>
                                    <mat-icon style="position: absolute; left: 0px; top: 15px;">book</mat-icon>
                                    <div class="title"
                                        style="position: absolute; left: 20px; top: 15px; line-height: 1.5; padding-right: 40px;">
                                        Artículo {{art.completeNumber}}
                                    </div>
                                    <mat-icon *ngIf="isAdmin" style="position: absolute; right: 0px; top: 15px;"
                                        (click)="deleteS(doc.id,'documentos')">delete</mat-icon>
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </div>
                    </mat-expansion-panel>

                    <!-- ARTICLES -->
                    <mat-expansion-panel class="custom-panel" *ngFor="let art of law.articles" hideToggle="true" (click)="articleClick(art)">
                        <mat-expansion-panel-header style="margin-top: -10px;">
                            <div
                                style="position: absolute; left: 0px; top: 0px; height: 100%; width: 5px; flex-direction: column;">
                                <div
                                    style="width: 100%; height: 50%; border-bottom: 1px; border-bottom-color: black; border-bottom-style: solid;">
                                </div>
                                <div></div>
                            </div>
                            <mat-icon style="position: absolute; left: 0px; top: 15px;">book</mat-icon>
                            <div class="title"
                                style="position: absolute; left: 20px; top: 15px; line-height: 1.5; padding-right: 40px;">
                                Artículo {{art.completeNumber}}
                            </div>
                            <mat-icon *ngIf="isAdmin" style="position: absolute; right: 0px; top: 15px;"
                                (click)="deleteS(doc.id,'documentos')">delete</mat-icon>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    

    <div style="display: flex; flex: 1; width: 68vw; margin-left: 10px; flex-direction: column; height: 90vh;">
        <mat-tab-group [(selectedIndex)]="indexado" (selectedIndexChange)="onTabChange($event)" style="display: flex; flex: 1; background-color:white; width: 68vw; margin-left: 10px;" [style.height]="article && !articleRel ? '90vh' : (article && articleRel ? '55vh' : '')">
            <mat-tab *ngFor="let art of article; let index = index">
                <ng-template mat-tab-label>
                    <label class="titulo_tab">Artículo {{art.completeNumber}}</label>
                    <mat-icon class="ex" (click)="cerrarPestana(index)">close</mat-icon>
                </ng-template>
                <div *ngIf="article" style="display: flex; flex-direction: column; padding: 30px; width: 100%; flex: 1;" [ngClass]="{'col-md-4 col-lg-6 col-xxxl-6':article && !articleRel, 'col-md-4 col-lg-4 col-xxxl-4':article && articleRel}">
                            <h5 >Artículo {{art.completeNumber || ''}}</h5>
                            <div *ngFor="let par of art.paragraphs" style="align-items: end; align-self: flex-end;">
                                <label [id]="'par-'+par.id" for="" style="color: gray; text-align: end; width: 100%;"><span style="color: gray; text-align: end;">Párr. {{par.number || ''}} -</span></label>
                                <p [innerHtml]="par.content || ''" style="color: rgb(0, 0, 0); margin-bottom: 0px;"></p>
                                <!-- <div style="text-align: end; margin-bottom: 30px;" *ngIf="par.articulos_relacionados !== null">
                                    Correlación en: <a style="font-style: italic;" [routerLink]="" (click)="addArticle(ar)" *ngFor="let ar of par.articulos_relacionados" class="ancla">{{ar.abreviatura || ''}}  Art.- {{ar.articulo || ''}} {{ar.indicador || ''}} - {{ar.nombre}}</a>
                                </div> -->

                                <div *ngIf="par.fractions">
                                    <div *ngFor="let fract of par.fractions" style="padding-left: 40px;">
                                        <p>{{fract.romanNumber}} - {{fract.content}}</p>
                                        <div *ngIf="fract.points">
                                            <div *ngFor="let point of fract.points" style="padding-left: 40px;">
                                                <p>{{point.letter}} - {{point.content}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="art.parts.length > 0" style="padding: 25px;">
                                <div *ngFor="let part of art.parts" style="align-items: end; align-self: flex-end;">
                                    <label style="color: gray; text-align: end; width: 100%;"><span style="color: gray; text-align: end; font-size: large;">Apartado {{part.letter}}</span></label>

                                    <div *ngFor="let par of part.paragraph" style="align-items: end; align-self: flex-end;">
                                        <label [id]="'par-'+par.id" for="" style="color: gray; text-align: end; width: 100%;"><span style="color: gray; text-align: end;">Párr. {{par.number || ''}} -</span></label>
                                        <p [innerHtml]="par.content || ''" style="color: rgb(0, 0, 0); margin-bottom: 0px;"></p>
                                        <!-- <div style="text-align: end; margin-bottom: 30px;" *ngIf="par.articulos_relacionados !== null">
                                            Correlación en: <a style="font-style: italic;" [routerLink]="" (click)="addArticle(ar)" *ngFor="let ar of par.articulos_relacionados" class="ancla">{{ar.abreviatura || ''}}  Art.- {{ar.articulo || ''}} {{ar.indicador || ''}} - {{ar.nombre}}</a>
                                        </div> -->

                                        <div *ngIf="par.fractions">
                                            <div *ngFor="let fract of par.fractions" style="padding-left: 40px;">
                                                <p>{{fract.romanNumber}} - {{fract.content}}</p>
                                                <div *ngIf="fract.points">
                                                    <div *ngFor="let point of fract.points" style="padding-left: 40px;">
                                                        <p>{{point.letter}} - {{point.content}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- </mat-expansion-panel>
                    </mat-accordion> -->
                    
                </div>
            </mat-tab>
            
    
          </mat-tab-group>
          <button mat-icon-button (click)="cerrarTodasPestanas()" style="position: absolute; top: 10px; right: 10px;" [style.z-index]="5">
            <mat-icon>close</mat-icon>
        </button>  
          
          <div *ngIf="articleRel" class="accordion-container" style="margin-top: 20px; margin-left: 10px;">
            <mat-accordion class="example-headers-align"style="position: sticky; top:3.5vh; left: 1vh;" >
                <mat-expansion-panel [expanded]="true" style="overflow: auto; height: 31.5vh; width: 68vw;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>auto_stories</mat-icon> &nbsp; Articulo {{articleRel.articulo}} {{articleRel.indicador || ''}}.-
                        </mat-panel-title>
                      
                    </mat-expansion-panel-header>
                    <h5 *ngIf="articleRel">{{articleRel.nombre || ''}}</h5>
                    <div *ngFor="let par of articleRel.parrafos" style="padding: 20px;">
                        <label [id]="'par-'+par.id" for="" class="nombre_parrafo"><span *ngIf="par.tipo == 0 && par.numero">Párr. {{par.numero || ''}} -</span> {{par.nombre || ''}}</label>
                        <div *ngIf="par.tipo == 1" class="fraccion">
                            <b>{{par.indicador}}</b>.&nbsp;<span [innerHtml]="par.contenido || ''"></span>
                        </div>
                        <p *ngIf="par.tipo == 0" [ngClass]="{'fraccion':par.tipo == 1}" [innerHtml]="par.contenido || ''" style="text-align: justify;"></p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    </div>