mat-accordion {
  box-shadow: none;
  padding-right: 0px;
  margin-right: 0px;
  
}

mat-expansion-panel {
  box-shadow: none;
  align-self: flex-end;
  width: auto;
  padding-right: 0px;
  margin-right: 0px;
}

mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
  
}

.custom-panel{
  border-left-style: solid;
  border-left-width: 0.5px;
  border-left-color: black;
  border-radius: 0px !important;
  margin-left: 15px;
  margin-top: -10px;
  height: fit-content;
  padding-bottom: 5px;
}

mat-panel-title{
  font-size: x-small;
}

.title {
  font-size: x-small;
  width: 100%;
  margin-left: 5px;
}

.nombre_parrafo{
  font-size: x-small;
}

.icono {
  vertical-align: middle;
}

mat-panel-description{
  font-size: x-small;
}

mat-expansion-panel-header {
  flex-direction: row;
}

.ex:hover {
  color: red;
}

.titulo_tab {
  font-size: x-small;
}

a:hover{
  cursor: pointer
}

.fraccion{
  text-indent: 1.2em;
}


.folder, .file {
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.folder-icon {
  margin-right: 5px;
}

/* styles.css */
.tree {
  font-family: 'Arial', sans-serif;
}

.tree ul {
  list-style: none;
  padding-left: 20px;
}

.tree .node {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.tree li {
  margin: 5px 0;
}
