<app-user-icon></app-user-icon>

<mat-card style="display: flex;">

  <!-- CHAT LIST -->
  <section class="chatList-section">
    <div
      style="display: flex; align-items: start; justify-content: start; flex-direction: column; background-color: rgb(0, 199, 43); padding-left: 20px; padding-right: 20px; padding-top: 10px; height: 10%;">
      <h5>Chats</h5>
      <input placeholder="Buscar chat" [(ngModel)]="searchTerm" (ngModelChange)="filterUsers()" style="margin-top: 5px; color: white; background: none; border-bottom:  2px solid white; 
        border-top: none; border-left: none;border-right: none; width: 100%;">
    </div>

    <div *ngFor="let user of filteredUsers" (click)="selectUser(user)">
      <div class="user-container" [class.selected-user]="isSelectedUser(user)">
        <img src="https://cdn-icons-png.freepik.com/512/3607/3607444.png" alt="Foto de perfil" class="avatar">
        <div>
          {{ user.nombre }}
          <br>
          <span *ngIf="user.isTyping" style="font-size: small;">Escribiendo...</span>
        </div>
        <div *ngIf="user.unread_messages > 0" class="notification-container">
          <div  class="notification-content">
            <span>{{ user.unread_messages }}</span>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- OPEN CHAT -->
  <section class="chat-section" style="position: relative; width: 100%;">

    <div class="chat-contact-container">
      <div style="display: flex; align-items: center; gap: 10px;">
        <img src="https://cdn-icons-png.freepik.com/512/3607/3607444.png" alt="Foto de perfil" class="avatar">
        <div style="display: flex; flex-direction: column;">
          <span style="font-size: x-small;">{{profile?.nombre}}</span>
          <span>{{ selectedUser?.nombre }}</span>
          <span *ngIf="selectedUser?.isTyping">Escribiendo...</span>
        </div>
      </div>
      <span class="yo">{{me_user}}</span>
    </div>

    <div #messageContainer class="message-container">
      <div *ngFor="let message of messages" class="all-message">
        <div *ngIf="isFechaNueva(message)" class="fecha-nueva">
          <span >
            {{message.date | date: 'dd/MM/yyyy'}}
          </span>
        </div>
        <div *ngIf="selectedUser?.id === message.from || message.type === 'sent'"
          [ngClass]="{'sent-message': message.type === 'sent', 'received-message': message.type === 'received'}">
          {{ message.text }}
          <div *ngIf="message.isFile === 'file'">
            <button  href="{{message.fileURL}}" style="background: none; border: none; color: rgb(0, 157, 255); display: flex; align-items: center; justify-content: center;" (click)="openModal(message.fileURL)">
              Archivo <mat-icon>insert_drive_file</mat-icon>
            </button>
          </div>
          <span class="message-date">{{ message.date | date: 'hh:mm a' }}</span>
        </div>
      </div>
    </div>

    <div class="message-input-container" style="position: absolute; bottom: 0; width: 100%;">
      <input class="message-input" placeholder="Escribe un mensaje" [(ngModel)]="newMessageText"
        (keyup.enter)="sendMessage()" (keyup)="checkIsTyping()">
      <button mat-icon-button class="sendButton">
        <mat-icon style="color: white; width: 3em; height: 3em; display: flex;
        align-items: center;
        justify-content: center;" (click)="sendMessage()">send</mat-icon>
      </button>
        <input type="file" (change)="handleFileInput($event)" accept=".txt,.pdf, .xslx, .docx, .obj" id="actual-btn" style="display: none;"/> 
        <label for="actual-btn"  class="fileButton">
            <mat-icon style="color: white; display: flex; align-items: center; justify-content: center;">attach_file</mat-icon>
        </label>     
    </div>

  </section>

</mat-card>