<div>
    <mat-form-field>
        <mat-label>Seleccionar video</mat-label>
        <mat-select [(value)]="id_cap">
            <mat-option *ngFor="let cap of capacitaciones" [value]="cap.id" >
                <span>{{cap.nombre}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-dialog-actions>
        <button mat-button (click)="close()">Cancelar</button>
        <button mat-button color="primary" (click)="assignVideo()">{{textButton}}</button>
    </mat-dialog-actions>
</div>