<!--
<mat-card>
    <mat-card-content>
        <mat-card-title>Configuraciones</mat-card-title>
       <mat-card-subtitle>
            <code>&lt;mat-grid-list&gt;</code> is a two-dimensional list view that arranges cells into grid-based layout. See Material Design spec.
            <a href="https://material.io/guidelines/components/grid-lists.html">here</a>
        </mat-card-subtitle>
        <mat-grid-list cols="2" gutterSize="10px" rowHeight="1:1">
            <mat-grid-tile>
                <mat-grid-tile-header >Usuarios</mat-grid-tile-header>

                <div>
                  <a routerLink="/config/users">Ver Todos</a>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-grid-tile-header >Leyes</mat-grid-tile-header>
                <div style="margin-top:2rem">

                    <div>
                        <app-add-category></app-add-category>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Documentos</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-document></app-add-document>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Titulos</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-title></app-add-title>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Capítulos</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-chapter></app-add-chapter>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Sección</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-section></app-add-section>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Artículos</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-article></app-add-article>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Párrafos</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-paragraph></app-add-paragraph>
                    </div>

                </div>
            </mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>

    </mat-card-content>
</mat-card>
-->
<mat-card style="height: 90vh; overflow: scroll;">
    <mat-card-content>
      <mat-card-title>Configuraciones</mat-card-title>
  
      <mat-form-field>
        <input matInput placeholder="Buscar" [(ngModel)]="searchTerm" >
      </mat-form-field>
  
      <div class="title">Usuarios</div>
  
      <div class="container">
        <div class="box" *ngFor="let usuario of filterUsuarios()">
          <a [href]="'/config/' + usuario.path">
            <div class="option_container">
              <mat-icon class="icon">{{ usuario.icon }}</mat-icon>
              <span>{{ usuario.descripcion }}</span>
            </div>
          </a>
        </div>
      </div>
  
      <div class="title">Leyes</div>
  
      <div class="container">
        <div class="box" *ngFor="let ley of filterLeyes()">
          <a [href]="'/config/' + ley.path" *ngIf="!ley.hasOwnProperty('path2')">
            <div class="option_container">
              <mat-icon class="icon">{{ ley.icon }}</mat-icon>
              <span>{{ ley.descripcion }}</span>
            </div>
          </a>

          <div style="flex-direction: column;" *ngIf="ley.hasOwnProperty('path2')">
            <div class="option_container" style="height: 122px;">
              <mat-icon class="icon">{{ ley.icon }}</mat-icon>
              <span>{{ ley.descripcion }}</span>
            </div>
            <div style="border-top-color: black; border-top-width: 1px; border-top-style: solid; display: flex; flex-direction: row;">
              <div style="width: 50%; justify-content: center; align-items: center; border-right-style: solid; border-right-color: black; border-right-width: 1px;" class="selected-box">
                <a class="highlight-text" [href]="'/config/' + ley.path1">Agregar</a>
              </div>
              <div style="width: 50%; justify-content: center; align-items: center;" class="selected-box">
                <a class="highlight-text" [href]="'/config/' + ley.path2">Editar</a>
              </div>
            </div>
          </div>
            
        </div>
      </div>

      <div class="title">Cumplimiento</div>
  
      <div class="container">
        <div class="box" *ngFor="let cumplimiento of filterCumplimiento()">
          <a [href]="'/config/' + cumplimiento.path">
            <div class="option_container">
              <mat-icon class="icon">{{ cumplimiento.icon }}</mat-icon>
              <span>{{ cumplimiento.descripcion }}</span>
            </div>
          </a>
        </div>
      </div>
  
    </mat-card-content>
  </mat-card>
  