<mat-card>
    <mat-card-content>
        <mat-card-title>Configuraciones</mat-card-title>
        <!--<mat-card-subtitle>
            <code>&lt;mat-grid-list&gt;</code> is a two-dimensional list view that arranges cells into grid-based layout. See Material Design spec.
            <a href="https://material.io/guidelines/components/grid-lists.html">here</a>
        </mat-card-subtitle>-->
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Usuarios</mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <div>
                  <a routerLink="/config/users">Ver Todos</a>
                </div>
                <div>
                  <a routerLink="/config/profiles">Perfiles</a>
                </div>
                <div>
                  <a routerLink="/config/modules">Módulos</a>
                </div>
              </div>
            </mat-expansion-panel>
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Leyes</mat-panel-title>
              </mat-expansion-panel-header>
              <div style="margin-top: 2rem">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Clasificaciones</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-category></app-add-category>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Documentos</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-document></app-add-document>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Titulos</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-title></app-add-title>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Capítulos</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-chapter></app-add-chapter>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Sección</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-section></app-add-section>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Artículos</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-article></app-add-article>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Párrafos</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <app-add-paragraph></app-add-paragraph>
                    </div>
                </mat-expansion-panel>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          
    </mat-card-content>
</mat-card>