.background{
    display: flex;
    height: 100vh;
    background-color: rgb(90, 153, 153);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
    height: fit-content;
    width: fit-content;
    color:black;
    padding: 30px;
    border-radius: 5px;
    background: rgb(253, 253, 253);
}