<div class="app-user-container">
  <app-user-icon></app-user-icon>
</div>
<app-traffic-light></app-traffic-light>

<mat-tab-group style="overflow: none">
  <mat-tab label="Datos de la empresa" style="overflow: none">
    <form
      class="tutorial-div"
      [formGroup]="empresaForm"
      [ngClass]="{
        'big-tutorial-div': (step === 1 && company !== null) || step === 3
      }"
      *ngIf="!companyInformation"
    >
      <div class="step">
        <legend>Paso 1 - RFC</legend>
        <input id="rfc" formControlName="rfc" maxlength="14" />
      </div>

      <div class="step">
        <legend>Paso 2 - Subir constancia de situación fiscal</legend>
        <div
          class="upload-container"
          (dragover)="onDragOver($event, 'pdf')"
          (dragleave)="onDragLeave($event, 'pdf')"
          (drop)="onDropPDF($event)"
          [class.dragover]="isDraggingPDF"
        >
          <input
            type="file"
            id="pdfInput"
            (change)="onPDFUpload($event)"
            accept=".pdf"
            hidden
          />
          <label for="pdfInput" class="upload-label">
            📂 Arrastra un archivo aquí o
            <span>haz clic para subir un PDF</span>
          </label>
        </div>
        <p *ngIf="fileNamePDF">{{ fileNamePDF }}</p>

        <div class="data-container" *ngIf="company">
          <span
            >Denominación/Razón Social:
            {{ empresaForm.get("name")?.value }}</span
          >
          <span
            >Nombre comercial:
            {{ empresaForm.get("commercialName")?.value }}</span
          >
          <span
            >Régimen capital:
            {{ empresaForm.get("capitalRegime")?.value }}</span
          >
          <span>RFC: {{ empresaForm.get("rfc")?.value }}</span>
          <span
            >Fecha de inicio de operaciones:
            {{ empresaForm.get("startDate")?.value }}</span
          >
          <span
            >Estatus del padrón: {{ empresaForm.get("status")?.value }}</span
          >
          <span
            >Fecha de último cambio de estado:
            {{ empresaForm.get("lastUpdateDate")?.value }}</span
          >

          <span>Código postal: {{ empresaForm.get("postalCode")?.value }}</span>
          <span
            >Dirección: {{ empresaForm.get("avenueType")?.value }}
            {{ empresaForm.get("streetName")?.value }} no.
            {{ empresaForm.get("exteriorNumber")?.value }} int.
            {{ empresaForm.get("interiorNumber")?.value }}, entre
            {{ empresaForm.get("betweenStreets")?.value }} y
            {{ empresaForm.get("street")?.value }}, col
            {{ empresaForm.get("neighborhoodName")?.value }},
            {{ empresaForm.get("municipalityName")?.value }}
            {{ empresaForm.get("state")?.value }}
          </span>
        </div>
      </div>

      <div class="step">
        <legend>Paso 3 - ¿La empresa tiene una o varias sucursales?</legend>
        <div style="display: flex; flex-direction: row; gap: 15px">
          <span>No</span>
          <mat-slide-toggle formControlName="moreBranches"></mat-slide-toggle>
          <span>Si</span>
        </div>
      </div>

      <div class="step">
        <legend>Paso 4 - e.firma</legend>
        <label for="fileCer">Certificado (.CER):</label>
        <div
          class="upload-container"
          (dragover)="onDragOver($event, 'cer')"
          (dragleave)="onDragLeave($event, 'cer')"
          (drop)="onDrop($event, 'cer')"
          [class.dragover]="isDraggingCER"
        >
          <input
            type="file"
            id="fileCer"
            (change)="onFileChange($event, 'fileCer')"
            accept=".cer"
            hidden
          />
          <label for="fileCer" class="upload-label">
            📂 Arrastra un archivo aquí o
            <span>haz clic para subir un certificado</span>
          </label>
        </div>
        <p *ngIf="fileNameCER">{{ fileNameCER }}</p>

        <label for="fileKey">Llave Privada (.KEY):</label>
        <div
          class="upload-container"
          (dragover)="onDragOver($event, 'key')"
          (dragleave)="onDragLeave($event, 'key')"
          (drop)="onDrop($event, 'key')"
          [class.dragover]="isDraggingKEY"
        >
          <input
            type="file"
            id="fileKey"
            (change)="onFileChange($event, 'fileKey')"
            accept=".key"
            hidden
          />
          <label for="fileKey" class="upload-label">
            📂 Arrastra un archivo aquí o
            <span>haz clic para subir una llave</span>
          </label>
        </div>
        <p *ngIf="fileNameKEY">{{ fileNameKEY }}</p>

        <label for="password">Contraseña:</label>
        <input id="password" formControlName="password" maxlength="20" />
      </div>

      <button (click)="uploadCompany()" class="stepper" [disabled]="empresaForm.invalid">
        Subir información
      </button>      
    </form>

    <div class="company-div" *ngIf="companyInformation">
      <h2>{{ companyInformation.name }}</h2>

      <div class="container">
        <div class="section">
          <h3>Datos de Identificación del Contribuyente:</h3>
          <table>
            <tr>
              <th>RFC:</th>
              <td>{{ companyInformation.rfc }}</td>
            </tr>
            <tr>
              <th>Denominación/Razón Social:</th>
              <td>{{ companyInformation.name }}</td>
            </tr>
            <tr>
              <th>Régimen Capital:</th>
              <td>{{ companyInformation.capitalRegime }}</td>
            </tr>
            <tr>
              <th>Nombre Comercial:</th>
              <td>{{ companyInformation.commercialName }}</td>
            </tr>
            <tr>
              <th>Fecha inicio de operaciones:</th>
              <td>{{ companyInformation.startDate }}</td>
            </tr>
            <tr>
              <th>Estatus en el padrón:</th>
              <td>{{ companyInformation.status }}</td>
            </tr>
            <tr>
              <th>Fecha de último cambio de estado:</th>
              <td>{{ companyInformation.lastUpdateDate }}</td>
            </tr>
          </table>
        </div>

        <div class="section">
          <h3>Datos del domicilio registrado</h3>
          <table>
            <tr>
              <th>Código Postal:</th>
              <td>{{ companyInformation.postalCode }}</td>
              <th>Tipo de Vialidad:</th>
              <td>{{ companyInformation.avenueType }}</td>
            </tr>
            <tr>
              <th>Nombre de Vialidad:</th>
              <td>{{ companyInformation.streetName }}</td>
              <th>Número Exterior:</th>
              <td>{{ companyInformation.exteriorNumber }}</td>
            </tr>
            <tr>
              <th>Número Interior:</th>
              <td>{{ companyInformation.interiorNumber }}</td>
              <th>Nombre de la Colonia:</th>
              <td>{{ companyInformation.neighborhoodName }}</td>
            </tr>
            <tr>
              <th>Nombre de la Localidad:</th>
              <td>{{ companyInformation.localityName }}</td>
              <th>Nombre del Municipio o Demarcación Territorial:</th>
              <td>{{ companyInformation.municipalityName }}</td>
            </tr>
            <tr>
              <th>Nombre de la Entidad Federativa:</th>
              <td>{{ companyInformation.state }}</td>
              <th>Entre Calle:</th>
              <td>{{ companyInformation.betweenStreets }}</td>
            </tr>
            <tr>
              <th>Y Calle:</th>
              <td>{{ companyInformation.street }}</td>
            </tr>
          </table>
        </div>
      </div>

      <button class="borrar-button" (click)="deleteCompany()">borrar</button>
    </div>
  </mat-tab>
  <mat-tab label="Cuestionario de diagnóstico">
    <div></div>
  </mat-tab>

  <mat-tab label="Historial de declaraciones presentadas ante el SAT">
    <app-compliance-tax-return></app-compliance-tax-return>
  </mat-tab>

  <mat-tab label="Historial de buzón tributario">
    <app-compliance-notifications></app-compliance-notifications>
  </mat-tab>

  <mat-tab label="Historial de opinión de cumplimiento">
    <app-compliance-opinion-history></app-compliance-opinion-history>
  </mat-tab>

  <mat-tab label="Historial de constancia de situación fiscal"></mat-tab>
  <mat-tab label="Historial de avisos presentados ante el SAT"></mat-tab>
  <mat-tab label="Historial de documentación corporativa"></mat-tab>
  <mat-tab label="Historial de contratos y convenios"></mat-tab>

  <mat-tab label="Historial de claves">
    <app-compliance-keys-history></app-compliance-keys-history>
  </mat-tab>
</mat-tab-group>

<div class="reminder" *ngIf="showReminder()">
  <span>Tu e.firma está a punto de expirar. Actualízala <a (click)="openAddEsignModal()">aquí</a></span>
</div>