<div class="navbar">
  <ul>
    <!-- <li>
        <a 
          [routerLink]="'/home'" 
          (mouseenter)="onMouseEnter()" 
          style="font-family: 'Times New Roman', Times, serif; display: flex; align-items: center; gap: 10px;">
          <div style="width: 20px; height: 20px; background: blue; border-radius: 20px;"></div>
          Escudo Fiscal
        </a>
      </li> -->
    <div style="display: flex; flex-direction: column">
      <div style="display: flex">
        <li>
          <a
            (mouseenter)="onMouseEnterInicio()"
            [class.active]="isInicioActive"
            style="
              font-family: 'Times New Roman', Times, serif;
              display: flex;
              align-items: center;
              gap: 10px;
            "
          >
            <div
              style="
                width: 20px;
                height: 20px;
                background: blue;
                border-radius: 20px;
                display: flex;
              "
            ></div>
            Global Business
          </a>
          <ul class="submenu">
            <div *ngIf="showSubMenuInicio" class="submenu-list blue blue-list">
              <a [routerLink]="'/working'">Comercial</a>
              <a [class.active]="isNoticiasActive" [routerLink]="'/main/news'"
                >Noticias</a
              >
              <a [routerLink]="'/working'">ChatBot</a>
              <a [routerLink]="'/working'">Ayuda</a>
              <a [class.active]="isBusquedaActive" [routerLink]="'/main/busqueda'"
                >Busqueda</a
              >
              <a [class.active]="isTemarioActive" [routerLink]="'/main/topics'"
                >Temario</a
              >
              <a [class.active]="isLeyesActive" [routerLink]="'/main/laws'"
                >Leyes</a
              >
              <a [class.active]="isIntroActive" [routerLink]="'/main/intro'"
                >Intro</a
              >
              <a [routerLink]="'/working'">Incentivos</a>
              <a [routerLink]="'/working'">Números</a>
              <a [class.active]="isMyCompanyActive" [routerLink]="'/main/my-company'"
                >Mi empresa (Alta e Historial)</a
              >
              <a [routerLink]="'/working'">Dictamen</a>
              <a [routerLink]="'/working'">Mejor</a>

            </div>
          </ul>
        </li>

        <li>
          <a [class.activeGreen]="isControlActive" [routerLink]="'/working'"
            >Universidad</a
          >
          <ul class="submenu">
            <div class="submenu-list green green-list">
              <a [class.activeGreen]="isAyudaActive" [routerLink]="'/control/ayuda'"
                >Chat</a
              >
              <a [routerLink]="'/working'">Telefono</a>
              <a [routerLink]="'/working'">Video</a>
              <a [routerLink]="'/working'">Casos Prácticos</a>
              <a [routerLink]="'/working'">Preguntas Frecuentes</a>
              <a [routerLink]="'/working'">Usuario</a>
              <a
                [class.activeGreen]="isCapacitacionActive"
                [routerLink]="'/control/capacitaciones'"
                >18 Cursos</a
              >
            </div>
          </ul>
        </li>

        <li>
          <a [routerLink]="'/working'">Precaución</a>
          <ul class="submenu">
            <div class="submenu-list red red-list">
              <a [routerLink]="'/working'">Respuesta SAT</a>
              <a [routerLink]="'/working'">Incumplimientos</a>
              <a [routerLink]="'/working'">Sanciones</a>
              <a [routerLink]="'/working'">Auditorías</a>
              <a [routerLink]="'/working'">Responsabilidad</a>
              <a [routerLink]="'/working'">Defensa</a>
              <a [routerLink]="'/working'">Pendiente</a>
            </div>
          </ul>
        </li>
      </div>

      <div style="display: flex; margin-top: 0.5rem">
        <li class="yellow cumplimiento-container">
          <a [class.activeYellow]="isCumplimientoActive" [routerLink]="'/working'">Cumplimiento</a>
          <ul class="submenu">
            <li class="submenu-list-cumplimiento">
              <a class="submenu-item" [routerLink]="'/compliance/register-client'">Calendario</a>
      
              <span class="submenu-subtitle">CFDI's y contabilización</span>
              <a class="submenu-item" [routerLink]="'/compliance/register-client'" [queryParams]="{'id-clasification':'3'}">Elabora CFDIs</a>
              <a class="submenu-item" [routerLink]="'/compliance/register-client'" [queryParams]="{'id-clasification':'4'}">Recaba CFDI Rep EdoCla</a>
              <a class="submenu-item" [routerLink]="'/compliance/register-client'" [queryParams]="{'id-clasification':'5'}">Contabiliza</a>
              <a class="submenu-item" [routerLink]="'/compliance/register-client'" [queryParams]="{'id-clasification':'6'}">Conciliación 5/7</a>
      
              <span class="submenu-subtitle">Impuesto mes calcula</span>
              <a class="submenu-item" [routerLink]="'/compliance/register-client'" [queryParams]="{'id-clasification':'8'}">ISR</a>
              <a class="submenu-item" [routerLink]="'/compliance/register-client'" [queryParams]="{'id-clasification':'9'}">IVA</a>
              <a class="submenu-item" [routerLink]="'/working'">IEPS</a>
              <a class="submenu-item" [routerLink]="'/working'">ISAN</a>
              <a class="submenu-item" [routerLink]="'/working'">Nóminas</a>
              <a class="submenu-item" [routerLink]="'/working'">Conciliación 7/7</a>
      
              <a class="submenu-item" [routerLink]="'/working'">Declara</a>
              <a class="submenu-item" [routerLink]="'/working'">Paga</a>
              <a class="submenu-item" [routerLink]="'/working'">Contabilidad Electrónica</a>
              <a class="submenu-item" [routerLink]="'/working'">Informativas</a>
              <a class="submenu-item" [routerLink]="'/working'">Revisar buzón, opinión, claves, sellos</a>
              <a class="submenu-item" [routerLink]="'/working'">Cuestionario adicional</a>
              <a class="submenu-item" [routerLink]="'/working'">Declaración anual de ISR</a>
              <a class="submenu-item" [routerLink]="'/working'">Avisos</a>
              <a class="submenu-item" [routerLink]="'/working'">P.L.D.</a>
              <a class="submenu-item" [routerLink]="'/working'">Legal</a>
              <a class="submenu-item" [routerLink]="'/working'">Legal laboral</a>
              <a class="submenu-item" [class.activeYellow]="isResumenCumplimientoActive" [routerLink]="'/compliance/index'">Resumen por día</a>
              <a class="submenu-item" [routerLink]="'/working'">Semáforos</a>
            </li>
          </ul>
        </li>
      </div>
      
      
    </div>
  </ul>
</div>
