<!-- Evento -->
<div class="mainDiv" style="max-height: 90vh;" *ngIf="showMain">
    <mat-card class="mainCard">
    <div class="mainCard">
      <a href="/config/menu" class="return"><mat-icon style="font-weight: 700; font-size: 40px; overflow: visible; padding: 20px;">arrow_back</mat-icon></a>
      <div style="display: flex; align-items: center; justify-content: center;">
        <p style="font-weight: 700;">Editar parrafo</p>
        </div>
      <div >
        <form style="display: flex; align-items: center; justify-content: center;">
            <mat-form-field style="width: 80vw;" >
              <mat-label>Selecciona un parrafo</mat-label>
              <input type="text" matInput [formControl]="myControlParagraph" [matAutocomplete]="autoPar" required>
              <mat-autocomplete #autoPar="matAutocomplete" [displayWith]="displayParagraph" (optionSelected)="selectedPar($event)">
                <mat-option *ngFor="let option of filteredParagraphsOptions | async" [value]="option" >
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>              
            </mat-form-field>
        </form>
        <section class="example-section">
          <label class="example-margin bold">Tipo:&nbsp;&nbsp;</label>
          <mat-radio-group [(ngModel)]="tipo" (change)="changeRadio($event)" class="quarter-width-mr">
            <mat-radio-button style="margin-right: 10px;" value="0">Parrafo</mat-radio-button>
            <mat-radio-button class="example-margin" value="1">Fracción</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <div class="artlet-container">
        
      </div>
      <section class="example-section">
        <div style="display: flex; justify-content: center; align-items: center; width: 91%;">
        <form>
            <mat-form-field  style="margin-right:10px; width: 500px;" >
              <mat-label>Articulo</mat-label>
              <input (keypress)="numberOnly($event)" type="text" matInput [formControl]="myControlArticle" [matAutocomplete]="autoA" (change)="handleEmptyArticle($event)" required>
              <mat-autocomplete [disabled]="!selectedPar" #autoA="matAutocomplete" [displayWith]="displayArticle" (optionSelected)="selectedArt($event)">
                <mat-option *ngFor="let option of filteredArtOptions | async" [value]="option">
                  Articulo {{option.id_articulo}} | {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </form>
        <mat-form-field class="quarter-width-mr" style="margin-right: 10px;"  >
          <mat-label>Orden</mat-label>
          <input type="text" matInput [formControl]="myControlOrder" [matAutocomplete]="autoO" (change)="handleEmptyOrd($event)" required [(ngModel)]="orden">
          <mat-autocomplete #autoO="matAutocomplete" [displayWith]="displayOrder" (optionSelected)="selectedOrd($event)">
            <mat-option *ngFor="let option of filteredOrdOptions | async" [value]="option">
              {{option.num}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  
        <mat-form-field class="quarter-width-mr" >
          <mat-label>Indicador</mat-label>
          <input type="text" matInput [(ngModel)]="indicator" [(ngModel)]="indicador">
        </mat-form-field>
      </div>
      </section>
      <section class="example-section">
        <div style="display: flex; justify-content: center; align-items: center; width: 91%;">
        <mat-form-field  *ngIf="type=='0'" style="margin-right: 10px;">
          <mat-label>Numero de Parrafo</mat-label>
          <input (keypress)="numberOnly($event)" type="number" matInput [(ngModel)]="number" placeholder="1,2,3..." min="1" max="100" [(ngModel)]="numero">
        </mat-form-field>
        <mat-form-field class="quarter-width-mr"  *ngIf="type=='0'">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput [(ngModel)]="name" [(ngModel)]="nombre">
        </mat-form-field>
      </div>
      </section>
      <!-- Editor Texto -->
      <div class="toolkit">
        <div style="display: flex; justify-content: center; align-items: center; width: 100%; flex-direction: column;">
          <mat-label style="font-weight: 700;">Contenido</mat-label>
          <angular-editor style="width: 91%;" [(ngModel)]="contenido" [config]="editorConfig" required></angular-editor>
        </div>
      </div>
      
      <!--Relaciones-->
  
      <div style="margin: 20px; display: flex; justify-content: end;">
        <button mat-raised-button color="primary" [disabled]="checkValues()" (click)="addEvent()">Editar</button>&nbsp;
        <button mat-raised-button color="warn" [disabled]="checkValues()" (click)="delete()">Eliminar</button>&nbsp;
        <button mat-raised-button color="basic" style="margin-left: 10px;" (click)="showSearchComponent()">Relaciones</button>&nbsp;
      </div>

        <div style="position: absolute; top:230px; left: 390px; width: 50%;">
          <div *ngIf="isShownComponent" style="background: rgb(0, 0, 0); width: 100%; height: 100%; border-radius: 40px; position: absolute; top: 0; left: 0;">
          </div>
          <ng-container style="border: solid 20px black;" *ngIf="isShownComponent">
            <app-search-document (sendingArticles)="artReceived($event)" (closingPanel)="closePanel($event)"></app-search-document>
          </ng-container>
        </div>
        <!-- Botones -->
    </div>
  </mat-card>
  </div>

  <div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>