.prevTopicsRelated{
    display: flex;
    flex-direction: row;
}

.chip {
    padding: 10px;
    margin: 10px;
    background-color: rgb(96, 136, 239);
    color: white;
    width: fit-content;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out ;
}

.chip:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(199, 21, 21);
}