<h2 mat-dialog-title>Agregar nuevo perfil</h2>
<mat-dialog-content>
    <div class="grid-container">
        <div class="grid-item">
            <mat-form-field>
                <input matInput required placeholder="Nombre" [(ngModel)]="newProfileName">
            </mat-form-field>
        </div>
        <div *ngFor="let module of moduleList" class="grid-item">
            <div style="display: flex; flex-direction: column;">
                <div style="display: flex; flex-direction: row">
                    <mat-checkbox style="margin-right: 5px;" [(ngModel)]="selectedModules[module.id]"></mat-checkbox>
                    <span><b>{{ module.nombre }}</b></span>
                </div>
                <!--                
                <div *ngIf="selectedModules[module.id]">
                    <mat-checkbox style="margin: 5px;" [(ngModel)]="permissions[module.id]" value="R">Read</mat-checkbox>
                    <mat-checkbox style="margin: 5px;" [(ngModel)]="permissions[module.id]" value="W">Write</mat-checkbox>
                    <mat-checkbox style="margin: 5px;" [(ngModel)]="permissions[module.id]" value="E">Execute</mat-checkbox>
                </div>  
                -->              
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-button color="primary" (click)="createProfile()">Guardar</button>
</mat-dialog-actions>
