.clients-full-width {
    width: 40.2vw;
    margin-right: 10px;
}

.obligations-full-width {
    width: 47.2vw;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-full-width {
    width: 40.2vw;
}

.title-full-width {
    width: 82vw;
    margin-right: 10px;
}

.divider {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: rgb(70, 70, 70);
    border-bottom-width: 1px;
    margin-top: 60px;
    margin-bottom: 60px;
}