<app-user-icon></app-user-icon>
<app-traffic-light></app-traffic-light>

<div class="container">
    <div class="row">
        <h1 style="margin-top: -5px;">Capacitaciones</h1>
        <div style="display: flex; flex-direction: column; overflow-x:hidden; overflow-y: auto; gap: 1rem;">
            <div class="card" *ngFor="let training of trainings"
                (click)="getLastAttempt(training)?.calificacionNumerica !== 10 ? showVideo(training) : null" [ngClass]="{
                'card-terminado-verde': getLastAttempt(training)?.verde === 1,
                'card-terminado-amarillo': getLastAttempt(training)?.amarillo === 1,
                'card-terminado-rojo': getLastAttempt(training)?.rojo === 1,
                'card-disabled':  getLastAttempt(training)?.calificacionNumerica === 10
            }" [style.pointer-events]="getLastAttempt(training)?.calificacionNumerica === 10 ? 'none' : 'auto'">
                <div>
                    <img [src]="getImageUrl(training.videos.imagename)" alt="Card image cap">
                    <div style="display: flex; flex-direction: column;">
                        <span style="font-weight: 700; font-size: 18px;">{{ training.titulo }}</span>
                        <span>{{ training.descripcion }}</span>
                        <div
                            style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap:5px">
                            <div style="display: flex; gap:5px">
                                <span *ngIf="getLastAttempt(training)?.terminado === 1"
                                    style="font-weight: 700; text-align: end; color: black">Calificación:</span>
                                <span *ngIf="getLastAttempt(training)?.terminado === 1" [ngClass]="{
                          'span-verde': getLastAttempt(training)?.verde === 1,
                          'span-amarillo': getLastAttempt(training)?.amarillo === 1,
                          'span-rojo': getLastAttempt(training)?.rojo === 1
                        }" style="font-weight: 700; text-align: end;">{{
                                    finished.calificacion }}/10</span>
                            </div>

                            <span style="font-weight: 700;" *ngIf="getLastAttempt(training)?.calificacionNumerica >= 9"> Pasaste!</span>
                            <span style="font-size: x-small;" *ngIf="getLastAttempt(training)?.calificacionNumerica === 9"> Si gustas puedes mejorar viendo el video o repitiendo el cuestionario</span>
                            <span style="font-weight: 700; text-align: center;" *ngIf="getLastAttempt(training)?.calificacionNumerica === 7 ||  getLastAttempt(training)?.calificacionNumerica === 8">Repasar video o reintentar cuestionario</span>
                            <span style="font-weight: 700;" *ngIf="getLastAttempt(training)?.calificacionNumerica >= 1 && getLastAttempt(training)?.calificacionNumerica <= 6">Repetir capacitación</span>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="videoName" style="width: 65vw;background: rgb(238, 238, 238); padding: 20px; border-radius: 50px;">
        <div id="videoPlayer" style="display: none; width: 100%;">
            <video style="width: 65vw; height: auto;" controls autoplay id="videoElement">
                Tu navegador no admite el elemento de video.
            </video>
            <div style="display: flex; align-items: center; justify-content: space-around; margin-top: 1rem;">
                <span style="font-weight: 700; font-size: 18px;">{{videoName}}</span>
                <button
                    style="background: green; padding: 10px; border: none; color: white; border-radius: 10px; cursor: pointer;"
                    (click)="goToQuestionarie()">Ir al cuestionario</button>
            </div>
        </div>
    </div>

    <div *ngIf="!videoName" id="prevVideo">
        Seleccione una capacitación para empezar
    </div>
</div>

<div *ngIf="loading" class="loader-overlay">
    <div class="loader">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>