<div class="container">
    <h3 class="title">Restablece tu contraseña</h3>
    <span>Inserta tu correo electrónico para recibir instrucciones para restaurar tu contraseña.</span>
    <form [formGroup]="loginForm">
        <mat-form-field class="email-input">
            <input matInput formControlName="email" placeholder="Correo electrónico" required="" #emailInput #p2>
            <mat-error *ngIf="loginForm.controls.email.hasError('required')">El correo es requerido</mat-error>
        </mat-form-field>
    </form>
    <label *ngIf="message" [class]="class_message">{{message}}</label>
    <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="button" (click)="resetPass()">Enviar</button>
</div>