.container{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 25px;
}

.email-input{
    margin-top: 20px;
}

.message_error{
    color:rgb(191, 37, 37)
}

.message_success{
    color:rgb(49, 158, 49)
}