<div fxLayout="row wrap">
    <div fxFlex="100">
        <div style="display: flex; align-items: center;">
            <a routerLink="/config/menu" class="return"><mat-icon  style="font-weight: 700; font-size: 40px; overflow: visible; margin-left: 20px;">arrow_back</mat-icon></a>
            <button mat-raised-button color="primary" style="margin-left: 30px;" (click)="openAdd()">Agregar capacitación</button> 
        </div>
       <mat-card>
            <mat-table [dataSource]="dataSource">
                <ng-container *ngFor="let column of columnsToDisplay" [matColumnDef]="column">
                    <mat-header-cell *matHeaderCellDef>{{ columnNames[column] }}</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" class="table-element">
                        <ng-container [ngSwitch]="column">
                            <ng-container *ngSwitchCase="'titulo'">{{ element.titulo }}</ng-container>
                            <ng-container *ngSwitchCase="'descripcion'">  {{ element.descripcion }}</ng-container>
                            <ng-container *ngSwitchCase="'tiempo_limite'">{{ element.tiempo_limite }}</ng-container>
                            <ng-container *ngSwitchCase="'cantidad_preguntas'">{{ element.numero_de_preguntas }}</ng-container>
                            <ng-container *ngSwitchCase="'nivel'">{{ calculadorDeNivel(element) }}</ng-container>
                            <ng-container *ngSwitchCase="'video'">
                                <button mat-icon-button (click)="abrirVideo(element.url)" *ngIf="element.url !== null">
                                    <mat-icon>video_library</mat-icon>
                                </button>

                                <button mat-raised-button color="primary" (click)="openAssign(element)" *ngIf="element.url === null">
                                    Asignar video
                                </button> 

                            </ng-container>
                            <ng-container *ngSwitchCase="'preguntas'">
                                <button mat-raised-button color="primary" (click)="openQuestions(element.id)">
                                    Ver preguntas
                                </button> 
                            </ng-container>
                            <ng-container *ngSwitchCase="'acciones'">
                                
                                <button mat-icon-button color="warn" (click)="deleteCapacitation(element.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                
                            </ng-container>
                        </ng-container>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    
                <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
            </mat-table>
        </mat-card>
    </div>
</div>
