<div class="mainDiv" *ngIf="showMain">
    <mat-card class="mainCard">
        <a routerLink="/config/menu" class="return"><mat-icon style="font-weight: 700; font-size: 40px; overflow: visible; padding: 20px;">arrow_back</mat-icon></a>
        <div style="display: flex; align-items: center; justify-content: center;">
        <p style="font-weight: 700;">{{ title }}</p>
        </div>
        <mat-card-content>
            <form>
                <mat-form-field class="category-full-width" appearance="fill">
                    <mat-label>Clasificacion documento</mat-label>
                    <input type="text" matInput [formControl]="myControlCategory" [(ngModel)]="clasification" required>
                </mat-form-field>
            </form>
        </mat-card-content>
        <div style="display: flex; align-items: center; justify-content: end; margin-right: 95px; margin-top:-20px; margin-bottom: 20px;">
        <button mat-raised-button color="primary" [disabled]="checkValues()" (click)="saveCategory()">Guardar</button>
        </div>
    </mat-card>
</div>
<div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>