
<div fxLayout="row wrap">
    <div fxFlex="100">
        <button mat-raised-button color="primary" style="margin-left: 20px;">Agregar modulo</button>
        <mat-card>
            <mat-table [dataSource]="dataSource">
                <ng-container *ngFor="let column of columnsToDisplay" [matColumnDef]="column">
                    <mat-header-cell *matHeaderCellDef>{{ columnNames[column] }}</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" class="table-element">
                        <ng-container [ngSwitch]="column">
                            <ng-container *ngSwitchCase="'id'">{{ element.id }}</ng-container>
                            <ng-container *ngSwitchCase="'nombre'">{{ element.nombre }}</ng-container>
                            <ng-container *ngSwitchCase="'opciones'">{{ getOptionName(element)}}</ng-container>
                            <ng-container *ngSwitchCase="'submodulos'">{{ getSubmoduleName(element)}}</ng-container>
                            <ng-container *ngSwitchCase="'acciones'">
                                <button mat-icon-button (click)="openEdit(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="openRemove(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ng-container>
                        </ng-container>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    
                <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
            </mat-table>
        </mat-card>
    </div>
</div>
