/* You can add global styles to this file, and also import other style files */
.mat-expansion-panel-body {
    padding-right: 0px !important;
    padding-left:10px !important;
  }

body {
  font-size: medium !important;
}

/* Para navegadores basados en WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0px;  /* Oculta el scrollbar vertical */
  height: 0px; /* Oculta el scrollbar horizontal */
}

/* Para Firefox */
body {
  scrollbar-width: none; /* Oculta el scrollbar */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Oculta el scrollbar */
}

.custom-snackbar {
  background-color: #1f8b07 !important; // Color rojo, puedes cambiarlo
  color: white !important;
}
