<div class="mainDiv" *ngIf="showMain">
    <mat-card class="mainCard">
      <a routerLink="/index" class="return"><mat-icon>arrow_back</mat-icon></a>
        <p>{{ title }}</p>
        <mat-card-content>
            <div class="flex-container">
                <form>
                    <mat-form-field class="half-width-mr" appearance="fill">
                      <mat-label>Documento</mat-label>
                      <input type="text" matInput [formControl]="myControlDocuments" [matAutocomplete]="auto" (change)="handleEmptyDoc($event)" required>
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDocument" (optionSelected)="selectedDoc($event)">
                        <mat-option *ngFor="let option of filteredDocOptions | async" [value]="option">
                          {{option.titulo}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </form>
                <form>
                    <mat-form-field class="half-width" appearance="fill">
                      <mat-label>Titulo</mat-label>
                      <input type="text" matInput [formControl]="myControlTitles" [matAutocomplete]="autoB">
                      <mat-autocomplete #autoB="matAutocomplete" [displayWith]="displayTitle" (optionSelected)="selectedTit($event)">
                        <mat-option *ngFor="let option of filteredTitOptions | async" [value]="option">
                          {{option.nombre}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
            <div class="flex-container">
                <form>
                    <mat-form-field class="half-width-mr" appearance="fill">
                      <mat-label>Capitulo</mat-label>
                      <input type="text" matInput [formControl]="myControlChapters" [matAutocomplete]="autoC">
                      <mat-autocomplete #autoC="matAutocomplete" [displayWith]="displayTitle" (optionSelected)="selectedCha($event)">
                        <mat-option *ngFor="let option of filteredChaOptions | async" [value]="option">
                          {{option.nombre}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </form>
                <mat-form-field class="half-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput [formControl]="myControlName" [(ngModel)]="name" required>
                </mat-form-field>
            </div>
        </mat-card-content>
        <button mat-raised-button color="primary" [disabled]="checkValues()" (click)="saveAssignation()">Guardar</button>
    </mat-card>
</div>
<div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>