<div *ngIf="objectProperties.mode === 1 && article != null">
    <ng-template mat-tab-label>
        <label class="titulo_tab">Artículo {{art. articulo}}.- {{ art.nombre }}</label>
    </ng-template>
    <div *ngIf="article" style="display: flex; flex-direction: column;">
        <div style="overflow: auto;" >
            <h5 >{{article.nombre || ''}}</h5>
            <div *ngFor="let par of article.parrafos" style="align-items: end; align-self: flex-end;">
                <label [id]="'par-'+par.id" for="" style="color: gray; text-align: end; width: 100%;"><span *ngIf="par.tipo == 0 && par.numero" style="color: gray; text-align: end;">Párr. {{par.numero || ''}} -</span> {{par.nombre || ''}}</label>
                <!--<p [innerHtml]="par.contenido || ''"></p>-->
                <div *ngIf="par.tipo == 1" class="fraccion">
                    <b>{{par.indicador}}</b>.&nbsp;<span  [innerHtml]="par.contenido || ''"></span>
                </div>
                <p *ngIf="par.tipo == 0" [ngClass]="{'fraccion':par.tipo == 1}" [innerHtml]="par.contenido || ''" style="color: rgb(0, 0, 0); margin-bottom: 0px;"></p>
                <div style="text-align: end; margin-bottom: 30px;" *ngIf="par.articulos_relacionados !== null">
                    Correlación en: <a style="font-style: italic;" [routerLink]="" *ngFor="let ar of par.articulos_relacionados" class="ancla">{{ar.abreviatura || ''}}  Art.- {{ar.articulo || ''}} {{ar.indicador || ''}} - {{ar.nombre}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

