<h2 mat-dialog-title>Editar usuario</h2>
<mat-dialog-content>
  <div class="grid-container">
    <!-- <div class="grid-item">
      <mat-form-field>
        <mat-select matInput placeholder="Perfil" required (selectionChange)="onPerfilChange($event)" [(ngModel)]="selectedOption">
          <mat-option *ngFor="let perfil of perfiles" value="{{perfil.name}}">{{perfil.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <div class="grid-item">
      <span >Correo: {{editedUser.email}}</span>
    </div>
    <div class="grid-item">
      <mat-form-field>
        <input matInput [(ngModel)]="editedUser.name" required placeholder="Nombre">
      </mat-form-field>
    </div>
    <div class="grid-item">
      <mat-form-field>
        <input matInput [(ngModel)]="editedUser.phoneNumber" placeholder="Teléfono" type="number" required>
      </mat-form-field>
      <mat-error *ngIf="camposInvalidos && !phonePattern.test(editedUser.phoneNumber.toString())">
        Por favor, ingrese un número de teléfono válido (8 o 10 dígitos).
      </mat-error>
    </div>
  </div>
  <mat-error *ngIf="camposInvalidos" class="error-message">Por favor, complete todos los campos.</mat-error>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: end;">
  <button mat-raised-button color="primary" (click)="saveUser()">Editar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</mat-dialog-actions>
