<app-loader *ngIf="isLoading"></app-loader>

<div class="video-container">
    <div class="video-container">
        <video (loadedmetadata)="videoLoaded()" autoplay="autoplay" preload="auto" id="myVideo" #video style="width: 100%; height: 100%;"></video>
    </div>

    <div style="position: absolute; bottom: 20px; width: 100%; display: flex; align-items: center; align-content: center;">
        <div style="align-self:center; padding: 10px; background: rgba(255, 255, 255, 0.511); width: 95vw; height: 10vh; display: flex; flex-direction: column; color: rgb(0, 0, 0); border-radius: 30px; margin: auto;">
            <h3 style="display: flex; align-items: center; justify-content: center;">Global Bussiness</h3>
            <span style="text-align: center;"><strong>Dirección: </strong> Av. Chapultepec Nte. 15, Ladrón de Guevara, Lafayette, 44600 Guadalajara, Jal.
                <strong>Telefono:</strong> 3333333333
                <strong>Correo:</strong> ventas@globalbusiness.com.mx
                <a href="www.globalbusiness.com.mx" style="text-decoration: none; color: rgb(61, 81, 255); margin-top: 5px;"><strong>Sitio web:</strong> www.globalbusiness.com.mx</a>
            </span>
        </div>
    </div>

</div>


    